﻿@model RxBasebandSetViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Description" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Description" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="TtlConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="TtlConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="TtlConnectorSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="RsConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="RsConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="RsConnectorSetId" class="text-danger"></span>
</div>