﻿@model PackageViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Name" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FootprintId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-vector-square"></i></span>
        </div>
        <select asp-for="FootprintId" asp-items="Model.FootprintOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="FootprintId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="HeightId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="height-prepend"><i class="fal fa-arrows-alt-v"></i></span>
        </div>
        <select asp-for="HeightId" asp-items="Model.HeightOptions" class="form-control" aria-describedby="height-prepend"></select>
    </div>
    <span asp-validation-for="HeightId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="height-prepend"><i class="fal fa-dot-circle"></i></span>
        </div>
        <select asp-for="ConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="height-prepend"></select>
    </div>
    <span asp-validation-for="ConnectorSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PrimaryConnectorPosition" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="height-prepend"><i class="fal fa-dot-circle"></i></span>
        </div>
        <select asp-for="PrimaryConnectorPosition" asp-items="Html.GetEnumSelectList<ConnectorPosition>()" class="form-control" aria-describedby="height-prepend"></select>
    </div>
    <span asp-validation-for="PrimaryConnectorPosition" class="text-danger"></span>
</div>


<div class="form-group">
    <label asp-for="RadioConnectorId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="height-prepend"><i class="fal fa-dot-circle"></i></span>
        </div>
        <select asp-for="RadioConnectorId" asp-items="Model.RadioOptions" class="form-control" aria-describedby="height-prepend"></select>
    </div>
    <span asp-validation-for="RadioConnectorId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="RadioConnectorPosition" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="height-prepend"><i class="fal fa-dot-circle"></i></span>
        </div>
        <select asp-for="RadioConnectorPosition" asp-items="Html.GetEnumSelectList<ConnectorPosition>()" class="form-control" aria-describedby="height-prepend"></select>
    </div>
    <span asp-validation-for="RadioConnectorPosition" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CoaxialModulationInputId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="height-prepend"><i class="fal fa-dot-circle"></i></span>
        </div>
        <select asp-for="CoaxialModulationInputId" asp-items="Model.CoaxOptions" class="form-control" aria-describedby="height-prepend"></select>
    </div>
    <span asp-validation-for="CoaxialModulationInputId" class="text-danger"></span>
</div>

<label asp-for="Prices" class="font-weight-bold"></label>
@Html.ListEditorFor(x => x.Prices,
    Url.Action("AddPrice"),
    "Add Price",
    itemContainerTemplate: "TableItemTemplate",
    listContainerTemplate: "PriceListTemplate")