﻿@model PackageViewModel
@{
	ViewBag.Title = "Create";
}

<form asp-action="Create" id="form">
	@Html.ValidationSummary(true)
	<fieldset>

		<partial name="_CreateOrEdit.cshtml">

			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Create" class="btn btn-success" />
					@Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
				</div>
			</div>
	</fieldset>
</form>

@section Scripts {
	<script type="text/javascript" src="~/lib/dynamic-viewmodel-list/dvml.min.js"></script>
}
