﻿@model PackageDetailViewModel

@{
    ViewData["Title"] = Model.Name + " - Package Detail";
}

    <h1>Package Detail</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footprint)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Detail" asp-controller="Footprint" asp-route-id="@Model.Footprint.Id">@Model.Footprint.Name</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Detail" asp-controller="Height" asp-route-id="@Model.Height.Id">@Model.Height.Name</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stacks)
        </dt>
        <dd class="col-sm-10">
            @foreach (var stack in Model.Stacks)
            {
                <a asp-action="Detail" asp-controller="Stack" asp-route-id="@stack.Id">@stack.Name</a>
                <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataConnectors)
        </dt>
        <dd class="col-sm-10">
            @foreach (var conn in Model.DataConnectors)
            {
                <a asp-action="Detail" asp-controller="DataConnector" asp-route-id="@conn.DataConnector.Id">@conn.Rank.ToString() - @conn.DataConnector.Name on @conn.Position.ToString()</a>
                <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RfConnectors)
        </dt>
        <dd class="col-sm-10">
            @foreach (var conn in Model.RfConnectors)
            {
                <a asp-action="Detail" asp-controller="RfConnector" asp-route-id="@conn.RfConnector.Id">@conn.Rank.ToString() - @conn.RfConnector.Name on @conn.Position.ToString()</a>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
