﻿@model PackageViewModel
@{
	ViewBag.Title = "Edit";

	var pkgActiveClass = Model.Active ? "bg-success" : "bg-danger";
}

<form asp-action="Edit">
	@Html.ValidationSummary(true)
	
	<div class="form-group float-right">
		<label class="form-check-control text-white @pkgActiveClass">
			<input type="checkbox" asp-for="Active" /> Active
		</label>
		<span asp-validation-for="Active" class="text-danger"></span>
	</div>

	<h2>Package - @Model.Name</h2>

	<partial name="_CreateOrEdit.cshtml" />

	<div class="mt-2">
		<input type="submit" value="Save" class="btn btn-success" />
		<a asp-action="Index" class="btn">Cancel</a>
	</div>
</form>

@section Scripts {
	<script type="text/javascript" src="~/lib/dynamic-viewmodel-list/dvml.min.js"></script>
}
