﻿@model IEnumerable<TxPackage>

@{
    ViewData["Title"] = "Packages";
}

<a class="btn btn-success float-right" asp-action="Create"><span class="fas fa-plus"></span></a>

<h1>Packages</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-group float-right">
                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Detail</a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                iDisplayLength: 10,
                lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "All"]],
                drawCallback: function (settings) {
                    var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                    pagination.toggle(this.api().page.info().pages > 1);
                },
                order: [0, 'asc'],
                bAutoWidth: false,
                dom: "<'row'<'col-sm-4'l><'col-sm-8'f>>t<'row'<'col-sm-4'i><'col-sm-8'p>>r",
                retrieve: true,
                saveState: true,
                columnDefs: [
                    { "orderable": false, "targets": [1] },
                ]
            });
        });
    </script>

}