﻿@model AddItemFromQuoteViewModel


<div class="modal-body">
<form asp-action="FromQuote" id="fromQuoteForm">
    <label asp-for="SelectedQuote"></label>
    <select id="dropdownQuote" asp-for="SelectedQuote" asp-items="Model.Quotes" class="form-control" aria-describedby="height-prepend"></select>
</form>
<hr />

@foreach (var product in Model.Products)
{
    <form asp-action="AddExistingItem">
        <div class="row">
            <div class="col-9">
                <input type="hidden" name="quoteLineId" value="@product.Id" />
                <p>@product.PartNumber</p>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-success">Add Item</button>
            </div>
        </div>
    </form>
}
</div>
<div class="modal-footer">
    <button type="button" id="btnBack" class="btn btn-outline-primary mr-auto"><i class="fal fa-chevron-left mr-2"></i>Back</button>
</div>


