﻿@model AddItemFromPartNumberViewModel

<div class="modal-body">
    <h6>Type in a part number to match it in the system</h6>
    <form id="fromPNForm">
        <label asp-for="PartNumber"></label>
        <input id="txtPartNumber" asp-for="PartNumber" type="text" class="form-control text-uppercase" autocomplete="off" />
    </form>
    <hr />

    <div id="fromPartContainer">
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnBack" class="btn btn-outline-primary mr-auto"><i class="fal fa-chevron-left mr-2"></i>Back</button>
</div>