﻿@model AddItemFromPartNumberViewModel

@if (Model.IsRecognizedType)
{
    <h5>
        @Html.DisplayFor(x => x.ProductType)
    </h5>
}
else
{
    <h5>
        Unrecognized product
    </h5>
}

@foreach (var line in Model.PartNumberDescriptors)
{
    <div class="row">
        <div class="col-3 text-truncate">
            @line.PartNumberDescriptor

        </div>
        <div class="col-9">
            @line.LineItemText
        </div>
    </div>
}

<ul>
    @foreach (var error in Model.Errors)
    {
        <li class="text-danger">
            @error
        </li>
    }
</ul>

@if (Model.IsValidPartNumber)
{
    string action = "";
    switch (Model.ProductType)
    {
        case ProductType.Transmitter:
            action = "AddTransmitter";
            break;
        case ProductType.Receiver:
            action = "AddReceiver";
            break;
        case ProductType.Antenna:
            action = "AddAntenna";
            break;
        case ProductType.EVTM:
            action = "AddEvtmFromPartNumber";
            break;
        case ProductType.ReceiverAnalyzer:
            action = "AddRxAnFromPartNumber";
            break;
        case ProductType.StatusLogger:
            action = "AddStatusLoggerFromPartNumber";
            break;
        case ProductType.Accessory:
            action = "AddAccFromPartNumber";
            break;
    }

    <form asp-action="@action">
        <input type="hidden" asp-for="PartNumber" />
        <button type="submit" class="btn btn-success w-100">Add Item to Quote</button>
    </form>
}
else if (!Model.IsValidPartNumber && Model.IsRecognizedType)
{
    <button type="submit" class="btn btn-success w-100 disabled">Add Item to Quote</button>
}