﻿@model IEnumerable<ReceiverAnalyzer>

<div class="modal-body">
    <h5 class="text-center">Receiver Analyzers</h5>
    @foreach (var product in Model)
    {
        <hr />
        <div class="row mt-3">
            <div class="col-8">
                <h6>@product.PartNumber</h6>
                <p class="text-muted text-uppercase small">@product.Description</p>
            </div>
            <div class="col-4">
                <form asp-action="AddRxAnalyzer">
                    <input type="hidden" value="@product.Id" name="id" />
                    <button type="submit" class="btn btn-success">
                        Add to Quote
                    </button>
                </form>
            </div>
        </div>
    }
</div>
<div class="modal-footer">
    <button type="button" id="btnBack" class="btn btn-outline-primary mr-auto"><i class="fal fa-chevron-left mr-2"></i>Back</button>
</div>