﻿
<div class="modal-body">
    <h5 class="text-center">Configure a product based on requirements</h5>
    <div class="row mt-3">
        <div class="col-4">
            <a asp-controller="Quote" asp-action="ConfigureTx" class="btn btn-outline-primary w-100 p-3">
                <i class="fak fa-2x fa-transmitter-l"></i>
                <h5 class="mt-2">Transmitter</h5>
            </a>
        </div>
        <div class="col-4">
            <a asp-controller="Quote" asp-action="AddRx" class="btn btn-outline-primary w-100 p-3">
                <i class="fak fa-2x fa-eye-pattern-l"></i>
                <h5 class="mt-2">Receiver</h5>
            </a>
        </div>
        <div class="col-4">
            <a asp-controller="Quote" asp-action="AddAnt" class="btn btn-outline-primary w-100 p-3">
                <i class="fal fa-2x fa-satellite-dish"></i>
                <h5 class="mt-2">Antenna</h5>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <a asp-controller="Quote" asp-action="AddEvtm" class="btn btn-outline-primary w-100 p-3">
                <i class="fak fa-2x fa-evtm-l"></i>
                <h5 class="mt-2">EVTM</h5>
            </a>
        </div>
        <div class="col-4">
            <button id="btnTestEq" class="btn btn-outline-primary w-100 p-3">
                <i class="fak fa-2x fa-test-equipment-l"></i>
                <h5 class="mt-2">Test Equip.</h5>
            </button>
        </div>
        <div class="col-4">
            <a asp-controller="Quote" asp-action="AddAccessory" class="btn btn-outline-primary w-100 p-3">
                <i class="fak fa-2x fa-banana-plug-l"></i>
                <h5 class="mt-2">Accessory</h5>
            </a>
        </div>
    </div>
    <h4 class="or-separator mt-4 mb-4"><span>OR</span></h4>
    <h5 class="text-center">Add a configured product</h5>
    <div class="row mt-3">
        <div class="col-6">
            <button id="btnFromPN" class="btn btn-outline-primary w-100 p-3">
                <i class="fal fa-2x fa-hashtag"></i>
                <h5 class="mt-2">From Part Number</h5>
            </button>
        </div>
        <div class="col-6">
            <button id="btnFromQuote" class="btn btn-outline-primary w-100 p-3">
                <i class="fal fa-2x fa-list"></i>
                <h5 class="mt-2">From Quote</h5>
            </button>
        </div>
    </div>
</div>