﻿
<div class="modal-body">
    <h5 class="text-center">Configure a product based on requirements</h5>
    <div class="row mt-3">
        <div class="col-6">
            <a asp-controller="Quote" asp-action="AddStatusLogger" class="btn btn-outline-primary w-100 p-3">
                <i class="fal fa-2x fa-list-ul"></i>
                <h5 class="mt-2">Status Logger</h5>
            </a>
        </div>
        <div class="col-6">
            <button id="btnRxAnalyzer" class="btn btn-outline-primary w-100 p-3">
                <i class="fal fa-2x fa-chart-network"></i>
                <h5 class="mt-2">Receiver Analyzer</h5>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnBack" class="btn btn-outline-primary mr-auto"><i class="fal fa-chevron-left mr-2"></i>Back</button>
</div>