﻿@model AntReflectorAssemblyViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Name" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PartNumberDescriptor" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="desc-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="PartNumberDescriptor" class="form-control" aria-describedby="desc-prepend" />
    </div>
    <span asp-validation-for="PartNumberDescriptor" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Diameter" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="diameter-prepend"><i class="fal fa-pi"></i></span>
        </div>
        <input type="number" asp-for="Diameter" class="form-control" aria-describedby="diameter-prepend" />
    </div>
    <span asp-validation-for="Diameter" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ConstructionType" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="construction-prepend"><i class="fal fa-wrench"></i></span>
        </div>
        <select asp-for="ConstructionType" asp-items="Html.GetEnumSelectList<DishConstructionType>()" class="form-control" aria-describedby="construction-prepend" ></select>
    </div>
    <span asp-validation-for="ConstructionType" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FocusArrangementId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="focus-prepend"><i class="fal fa-satellite-dish"></i></span>
        </div>
        <select asp-for="FocusArrangementId" asp-items="Model.FocusArrangementOptions" class="form-control" aria-describedby="focus-prepend" ></select>
    </div>
    <span asp-validation-for="FocusArrangementId" class="text-danger"></span>
</div>