﻿@model FootprintViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Shape"></label>
    <select id="shapeSelect" asp-for="Shape" asp-items="Html.GetEnumSelectList<FootprintShape>()" class="form-control"></select>
</div>

<div id="recOptions">
    <div class="form-group">
        <label asp-for="Length"></label>
        <input type="text" asp-for="Length" class="form-control" />
        <span asp-validation-for="Length" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Width"></label>
        <input type="text" asp-for="Width" class="form-control" />
        <span asp-validation-for="Width" class="text-danger"></span>
    </div>
</div>

<div id="roundOptions">
    <div class="form-group">
        <label asp-for="Diameter"></label>
        <input type="text" asp-for="Diameter" class="form-control" />
        <span asp-validation-for="Diameter" class="text-danger"></span>
    </div>
</div>