﻿@model FootprintViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Footprint", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        <partial name="_CreateOrEdit.cshtml">

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
                </div>
            </div>
    </fieldset>
}

@section Scripts {
    <script type="text/javascript">

        $(function () {
            setShapeOptions();
        });

        function setShapeOptions() {
            var shape = $('#shapeSelect').val();
            if (shape == "1") {
                $('#recOptions').show();
                $('#roundOptions').hide();
            } else {
                $('#roundOptions').show();
                $('#recOptions').hide();
            }
        }

        $(document).on('change', '#shapeSelect', function () {
            setShapeOptions();
        })
    </script>
}