﻿@model FootprintViewModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Footprint", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <h2>Footprint</h2>

    <partial name="_CreateOrEdit.cshtml" />

    <div class="mt-2">
        <input type="submit" value="Save" class="btn btn-success" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
    </div>
}

@section Scripts {
    <script type="text/javascript">

        $(function () {
            setShapeOptions();
        });

        function setShapeOptions() {
            var shape = $('#shapeSelect').val();
            if (shape == "1") {
                $('#recOptions').show();
                $('#roundOptions').hide();
            } else {
                $('#roundOptions').show();
                $('#recOptions').hide();
            }
        }

        $(document).on('change', '#shapeSelect', function () {
            setShapeOptions();
        })
    </script>
}