﻿@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    @await Component.InvokeAsync("UserQuotes")
}
else
{
    <div class="text-center">
        <h1 class="display-4">Quasonix eCat</h1>
    </div>
}