﻿@model ChannelSetViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Description" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="mfg-name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Description" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="TotalChannelCount" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="eng-name-prepend"><i class="fal fa-radio"></i></span>
        </div>
        <input type="number" asp-for="TotalChannelCount" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="TotalChannelCount" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="InputChannelCount" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="eng-name-prepend"><i class="fal fa-outlet"></i></span>
        </div>
        <input type="number" asp-for="InputChannelCount" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="InputChannelCount" class="text-danger"></span>
</div>
