﻿@model ChannelSetDetailViewModel

@{
    ViewData["Title"] = Model.Description + " - Channel Set Detail";
}

<h1>Channel Set Detail</h1>

<div>
    <h4>@Model.Description</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalChannelCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalChannelCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InputChannelCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InputChannelCount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
