﻿@model QuoteLineViewModel

@{
    string postActionString = "";
    string imgNameString = "";
    string prodTypeString = "";
    switch (Model.ProductType)
    {
        case ProductType.Transmitter:
            postActionString = "ConfigureTx";
            imgNameString = "transmitter.png";
            prodTypeString = "Transmitter";
            break;
        case ProductType.Receiver:
            postActionString = "AddRx";
            imgNameString = "receiver.png";
            prodTypeString = "Receiver";
            break;
        case ProductType.Antenna:
            postActionString = "AddAnt";
            imgNameString = "antenna.png";
            prodTypeString = "Antenna";
            break;
        case ProductType.EVTM:
            postActionString = "AddEvtm";
            imgNameString = "evtm.png";
            prodTypeString = "EVTM";
            break;
        case ProductType.StatusLogger:
            postActionString = "AddStatusLogger";
            imgNameString = "status_logger.png";
            prodTypeString = "Status Logger";
            break;
        case ProductType.ReceiverAnalyzer:
            postActionString = "";
            imgNameString = "receiver_analyzer.png";
            prodTypeString = "Receiver Analyzer";
            break;
        case ProductType.Accessory:
            postActionString = "";
            imgNameString = "accessory.png";
            prodTypeString = "Accessory";
            break;
    }
}


<div class="row mb-4">
    <div class="col-3 col-xl-2">
        <img class="img-fluid w-100" src="~/img/@imgNameString" alt="@prodTypeString" />
    </div>
    <div class="col-9 col-xl-10">
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <h5>@Model.ProductName</h5>
                    <p class="mb-3 text-muted text-uppercase small">@prodTypeString</p>
                </div>
                <div>
                    @if (Model.FullyConfigured)
                    {

                        <form asp-action="UpdateQuantity" asp-route-id="@Model.Id" asp-route-quantity="@Model.Quantity" class="float-right">
                            <div class="cart-quantity float-right">

                                <button type="button" class="quantity-down">
                                    <i class="fas fa-minus pl-1"></i>
                                </button>
                                <input min="1" asp-for="Quantity" value="@Model.Quantity" type="number" class="line-quantity">
                                <button type="button" class="quantity-up">
                                    <i class="fas fa-plus pr-1"></i>
                                </button>

                            </div>
                            <button type="submit" class="btn btn-primary text-uppercase mr-2 invisible btn-update-qty">
                                <i class="fas fa-redo mr-2"></i>Update
                            </button>
                        </form>
                        <br />
                    }
                    else
                    {
                        <div>
                            <h5 class="text-danger float-right"><i class="fas fa-exclamation-triangle mr-2"></i>Partially Configured</h5>
                        </div>
                    }
                    <div class="float-right mt-1">
                        <form asp-action="RemoveItem" asp-route-id="@Model.Id" class="float-left">
                            <button type="submit" class="btn btn-link text-uppercase p-0 ml-4">
                                <i class="fas fa-trash-alt mr-2"></i>Remove
                            </button>
                        </form>
                        @if (Model.IncludedInQuote)
                        {
                            @if (Model.FullyConfigured)
                            {
                                <form asp-action="ExcludeItem" asp-route-id="@Model.Id" class="float-right">
                                    <button type="submit" class="btn btn-link text-uppercase p-0 ml-4">
                                        <i class="fas fa-ban mr-2"></i>exclude
                                    </button>
                                </form>
                            }
                        }
                        else
                        {
                            @if (Model.FullyConfigured)
                            {
                                <form asp-action="IncludeItem" asp-route-id="@Model.Id" class="float-right">
                                    <button type="submit" class="btn btn-link text-uppercase p-0 ml-4">
                                        <i class="fas fa-plus mr-2"></i>include
                                    </button>
                                </form>
                            }
                        }
                        @if (Model.ProductType != ProductType.ReceiverAnalyzer && Model.ProductType != ProductType.Accessory)
                        {
                            <a asp-action="@postActionString" asp-route-lineId="@Model.Id" class="btn btn-link text-uppercase p-0 ml-4">
                                <i class="fas fa-puzzle-piece mr-2"></i>configure
                            </a>
                        }
                    </div>
                </div>
            </div>
            @if (Model.FullyConfigured)
            {
                if (Model.HasPrice)
                {
                    <button class="price-detail btn btn-link text-decoration-none mb-0 float-right text-dark" value="@Model.Id"><span><strong>@String.Format("${0:n0}", Model.ExtendedPrice)</strong></span></button>
                }
                else
                {
                    <span class="float-right"><strong>Select Shipping Zone to View Price </strong></span>
                }
            }
        </div>
    </div>
</div>
<hr class="mb-4">