﻿@model ConfigureAntennaViewModel

@{
    ViewData["Title"] = "Configure";

    string ShowSection(bool shouldShow)
    {
        return shouldShow ? "show" : "";
    }
}

<form id="configForm" asp-action="AddAnt">
    <input type="hidden" asp-for="LineId" />
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">
                    <b><u>Configuration</u></b>
                </div>
                <div class="col-md-2">
                    <b><u>Code</u></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    Quasonix
                </div>
                <div class="col-md-2">
                    QSX
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Precision Drive Antenna Pedestal (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.PedestalString
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Reflector Assembly (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.ReflectorAssemblyString
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#dishCollapse" data-field="#ShowReflectorSizeSection">
                        Select reflector Size
                        @if (Model.ReflectorSizeChecklist.HasSelection || Model.ReflectorSizeChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowReflectorSizeSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="dishCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowReflectorSizeSection)">
                    @Html.EditorFor(x => Model.ReflectorSizeChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#constructionCollapse" data-field="#ShowReflectorConstructionSection">
                        Select reflector Construction
                        @if (Model.ReflectorConstructionChecklist.HasSelection || Model.ReflectorConstructionChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowReflectorConstructionSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="constructionCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowReflectorConstructionSection)">
                    @Html.EditorFor(x => Model.ReflectorConstructionChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#focusCollapse" data-field="#ShowFocusSection">
                        Select focus arrangement
                        @if (Model.FocusChecklist.HasSelection || Model.FocusChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowFocusSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="focusCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFocusSection)">
                    @Html.EditorFor(x => Model.FocusChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#wiringCollapse" data-field="#ShowWiringSection">
                        Select wiring
                        @if (Model.WiringChecklist.HasSelection || Model.WiringChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowWiringSection" />
                </div>
                <div class="col-md-2">
                    @Model.WiringString
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="wiringCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowWiringSection)">
                    @Html.EditorFor(x => Model.WiringChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#feedCollapse" data-field="#ShowFeedSection">
                        Select feed
                        @if (Model.FeedChecklist.HasSelection || Model.FeedChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowFeedSection" />
                </div>
                <div class="col-md-2">
                    @Model.FeedString
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="feedCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFeedSection)">
                    @Html.EditorFor(x => Model.FeedChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#bandComboCollapse" data-field="#ShowBandCombinationSection">
                        Select band combo
                        @if (Model.BandComboChecklist.HasSelection || Model.BandComboChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowBandCombinationSection" />
                </div>
                <div class="col-md-2">
                    @Model.BandCombinationString
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="bandComboCollapse" class="collapse col-md-12 border small @ShowSection(Model.ShowBandCombinationSection)">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th style="min-width:60px"></th>

                                @for (int i = 0; i < Model.BandChecklist.Options.Count; i++)
                                {
                                    <th>
                                        <label>
                                            <input type="checkbox" asp-for="BandChecklist.Options[i].IsSelected" disabled="@Model.BandComboChecklist.HasSelection" class="postClick mr-1" />
                                            @Model.BandChecklist.Options[i].LabelText
                                        </label>
                                        <input type="hidden" asp-for="BandChecklist.Options[i].Id" />
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.BandComboChecklist.Options.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" asp-for="BandComboChecklist.Options[i].IsSelected" class="postClick mr-1" />
                                            @Model.BandComboChecklist.Options[i].LabelText
                                        </label>
                                        <input type="hidden" asp-for="BandComboChecklist.Options[i].Id" />
                                    </td>

                                    @for (int j = 0; j < Model.BandCheckmarks[i].Count; j++)
                                    {
                                        <td>
                                            @if (Model.BandCheckmarks[i][j])
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                            @if (Model.BandComboChecklist.Options.Count == 0)
                            {
                                <tr>
                                    <td colspan="@(Model.BandChecklist.Options.Count + 1)">
                                        <div class="text-center">
                                            No band combination exists with selected bands.
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#optionCollapse" data-field="#ShowOptionSection">
                        Select options
                    </button>
                    <input type="hidden" asp-for="ShowOptionSection" />
                </div>
                <div class="col-md-2">
                    @Model.OptionString
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="optionCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowOptionSection)">
                    @Html.EditorFor(x => Model.OptionChecklist)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h5>
                <b>Part Number:</b> @Model.PartNumber
            </h5>
            @foreach (var item in Model.LineItems)
            {
                <div class="row">
                    <div class="col-md-3">
                        @item.PartNumberDescriptor
                    </div>
                    <div class="col-md-9 line-break">@item.LineItemText</div>
                </div>
            }
            @if (Model.IsComplete)
            {
                <button type="submit" name="AddToQuote" value="AddToQuote" class="btn btn-success w-100 mt-2">
                    @if (Model.LineId == Guid.Empty)
                    {
                        <i class="fas fa-plus mr-2"></i>@:Add Item to Quote
                    }
                    else
                    {
                        <i class="fas fa-redo mr-2"></i>@:Update Item in Quote
                    }
                </button>
            }
            else
            {
                <button type="submit" name="SaveForLater" value="SaveForLater" class="btn btn-warning w-100 mt-2" data-toggle="tooltip" data-placement="top" title="This item is partially configured. You may save it and return to finish configuration later.">
                    <i class="fas fa-save mr-2"></i> Save For Later
                </button>
            }
        </div>
    </div>
</form>