﻿@model ConfigureAccessoryViewModel

@{
    ViewData["Title"] = "Configure";

    string ShowSection(bool shouldShow)
    {
        return shouldShow ? "show" : "";
    }
}

<div class="row">
    <div class="col-md-5 col-lg-3 border-right">
        <form id="configForm" asp-action="AddAccessory">
            <div class="row">
                <div class="col-md-10">
                    <b><u>Accessory Requirements</u></b>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#categoryCollapse" data-field="#ShowCategorySection">
                        Category supported
                    </button>
                    <input type="hidden" asp-for="ShowCategorySection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="categoryCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowCategorySection)">
                    @Html.EditorFor(x => Model.CategoryChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#functionCollapse" data-field="#ShowFunctionSection">
                        Function
                    </button>
                    <input type="hidden" asp-for="ShowFunctionSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="functionCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFunctionSection)">
                    @Html.EditorFor(x => Model.FunctionChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#basebandCollapse" data-field="#ShowSignalStandardSection">
                        Signal standard
                    </button>
                    <input type="hidden" asp-for="ShowSignalStandardSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="basebandCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowSignalStandardSection)">
                    @Html.EditorFor(x => Model.SignalStandardChecklist)
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-7 col-lg-9">
        @foreach (var product in Model.Products)
        {
            <div class="row mt-3">
                <div class="col-sm-8 col-md-10">
                    <h6>@product.PartNumber</h6>
                    <p class="text-muted text-uppercase small">@product.Description</p>
                </div>
                <div class="col-sm-4 col-md-2">
                    <form asp-action="AddAccessory">
                        <input type="hidden" value="@product.Id" name="AccessoryId" />
                        <button type="submit" name="AddToQuote" value="AddToQuote" class="btn btn-success float-right">
                            Add to Quote
                        </button>
                    </form>
                </div>
            </div>
            <hr />
        }
    </div>
</div>