﻿@model ConfigureReceiverViewModel

@{
    ViewData["Title"] = "Configure";

    string ShowSection(bool shouldShow)
    {
        return shouldShow ? "show" : "";
    }
}

<form id="configForm" asp-action="AddRx">
    <input type="hidden" asp-for="LineId" />
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">
                    <b><u>Configuration</u></b>
                </div>
                <div class="col-md-2">
                    <b><u>Code</u></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    Quasonix
                </div>
                <div class="col-md-2">
                    QSX
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Third-Generation RDMS™ Telemetry Receiver / Demodulator / Synchronizer
                </div>
                <div class="col-md-2">
                    RDMS
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#formFactorCollapse" data-field="#ShowFormFactorSection">
                        Select form factor
                        @if (Model.FormFactorChecklist.HasSelection || Model.FormFactorChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowFormFactorSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="formFactorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFormFactorSection)">
                    @Html.EditorFor(x => Model.FormFactorChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Package (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.ChassisText
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#channelCountCollapse" data-field="#ShowChannelCountSection">
                        Select channel count
                        @if (Model.ChannelCountChecklist.HasSelection || Model.ChannelCountChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowChannelCountSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="channelCountCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowChannelCountSection)">
                    @Html.EditorFor(x => Model.ChannelCountChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#ifInputCollapse" data-field="#ShowIFInputSection">
                        Select IF input
                        @if (Model.IFInputChecklist.HasSelection || Model.IFInputChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowIFInputSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="ifInputCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowIFInputSection)">
                    @if (Model.IFInputChecklist.Options.Count > 0)
                    {
                        @Html.EditorFor(x => Model.IFInputChecklist)
                    }
                    else
                    {
                        <label><input type="checkbox" checked="checked" class="mr-2" disabled="disabled" />None</label>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#analogOutputCollapse" data-field="#ShowAnalogOutputSection">
                        Select analog output
                        @if (Model.AnalogOutputChecklist.HasSelection || Model.AnalogOutputChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowAnalogOutputSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="analogOutputCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowAnalogOutputSection)">
                    @Html.EditorFor(x => Model.AnalogOutputChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#amOutputCollapse" data-field="#ShowAMOutputSection">
                        Select AM output
                        @if (Model.AMOutputChecklist.HasSelection || Model.AMOutputChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowAMOutputSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="amOutputCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowAMOutputSection)">
                    @Html.EditorFor(x => Model.AMOutputChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#agcOutputCollapse" data-field="#ShowAGCOutputSection">
                        Select AGC output
                        @if (Model.AGCOutputChecklist.HasSelection || Model.AGCOutputChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowAGCOutputSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="agcOutputCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowAGCOutputSection)">
                    @Html.EditorFor(x => Model.AGCOutputChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#basebandCollapse" data-field="#ShowBasebandSection">
                        Select baseband set
                        @if (Model.BasebandChecklist.HasSelection || Model.BasebandChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowBasebandSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="basebandCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowBasebandSection)">
                    @Html.EditorFor(x => Model.BasebandChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#displayCollapse" data-field="#ShowDisplaySection">
                        Select display
                        @if (Model.DisplayChecklist.HasSelection || Model.DisplayChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowDisplaySection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="displayCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowDisplaySection)">
                    @Html.EditorFor(x => Model.DisplayChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#bandComboCollapse" data-field="#ShowBandComboSection">
                        Select band combo
                        @if (Model.BandComboChecklist.HasSelection || Model.BandComboChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowBandComboSection" />
                </div>
                <div class="col-md-2">
                    @Model.BandCombinationText
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="bandComboCollapse" class="collapse col-md-12 border small @ShowSection(Model.ShowBandComboSection)">
                    <div class="text-center mt-3">
                        <label class="m-0">
                            <input type="radio" asp-for="BandRange" value="@BandRange.Standard" class="postClick" /> Standard Range
                        </label>
                        <span class="ml-2 mr-2">|</span>
                        <label>
                            Extended Range
                            <input type="radio" asp-for="BandRange" value="@BandRange.Extended" class="postClick" />
                        </label>
                    </div>
                    <hr />
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th style="min-width:60px"></th>

                                @for (int i = 0; i < Model.BandChecklist.Options.Count; i++)
                                {
                                    <th>
                                        <label>
                                            <input type="checkbox" asp-for="BandChecklist.Options[i].IsSelected" class="postClick mr-1" />
                                            @Model.BandChecklist.Options[i].LabelText
                                        </label>
                                        <input type="hidden" asp-for="BandChecklist.Options[i].Id" />
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.BandComboChecklist.Options.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" asp-for="BandComboChecklist.Options[i].IsSelected" class="postClick mr-1" />
                                            @Model.BandComboChecklist.Options[i].LabelText
                                        </label>
                                        <input type="hidden" asp-for="BandComboChecklist.Options[i].Id" />
                                    </td>

                                    @for (int j = 0; j < Model.BandCheckmarks[i].Count; j++)
                                    {
                                        <td>
                                            @if (Model.BandCheckmarks[i][j])
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                            @if (Model.BandComboChecklist.Options.Count == 0)
                            {
                                <tr>
                                    <td colspan="@(Model.BandChecklist.Options.Count + 1)">
                                        <div class="text-center">
                                            No band combination exists with selected bands.
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#demodCollapse" data-field="#ShowDemodulationsSection">
                        Select demodulation
                        @if (Model.DemodulationChecklist.HasSelection)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowDemodulationsSection" />
                </div>
                <div class="col-md-2">
                    @Model.DemodulationText
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="demodCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowDemodulationsSection)">
                    @Html.EditorFor(x => Model.DemodulationChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#pinoutCollapse" data-field="#ShowPinoutSection">
                        Select pinout customization
                        @if (Model.PinoutChecklist.HasSelection || Model.PinoutChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowPinoutSection" />
                </div>
                <div class="col-md-2">
                    @Model.PinoutText
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="pinoutCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowPinoutSection)">
                    @Html.EditorFor(x => Model.PinoutChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#optionsCollapse" data-field="#ShowOptionsSection">
                        Select options
                    </button>
                    <input type="hidden" asp-for="ShowOptionsSection" />
                </div>
                <div class="col-md-2">
                    @foreach (var option in Model.SelectedOptions.OrderBy(x => x.PartNumberDescriptor))
                    {
                        <span class="mr-1">@option.PartNumberDescriptor</span>
                    }
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="optionsCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowOptionsSection)">
                    @Html.EditorFor(x => Model.OptionsChecklist)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h5>
                <b>Part Number:</b> @Model.PartNumber
            </h5>
            @foreach (var item in Model.LineItems)
            {
                <div class="row">
                    <div class="col-md-3">
                        @item.PartNumberDescriptor
                    </div>
                    <div class="col-md-9 line-break">@item.LineItemText</div>
                </div>
            }
            @if (Model.Package != null)
            {
                <div class="mt-3">
                    <h6 class="font-weight-bold">I/O Connectors:</h6>
                    <div class="row">
                        <div class="col-md-3">RF IN</div>
                        <div class="col-md-9">@Model.Package.RfInputConnectorSet.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">IF IN</div>
                        <div class="col-md-9">@Model.Package.IfInputConnectorSet.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">IF OUT</div>
                        <div class="col-md-9">@Model.Package.RfInputConnectorSet.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">TTL C&D</div>
                        <div class="col-md-9">@Model.Package.BasebandSet.TtlConnectorSet.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">RS-422 C&D</div>
                        <div class="col-md-9">@Model.Package.BasebandSet.RsConnectorSet.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">ETHERNET</div>
                        <div class="col-md-9">@Model.Package.EthernetConnectorSet.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">ANALOG OUT</div>
                        <div class="col-md-9">@Model.Package.AnalogOutputConnectorSet.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">AM OUT</div>
                        <div class="col-md-9">@Model.Package.AmOutputConnectorSet.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">AGC OUT</div>
                        <div class="col-md-9">@Model.Package.AgcOutputConnectorSet.Description</div>
                    </div>
                </div>
            }
            @if (Model.IsComplete)
            {
                <button type="submit" name="AddToQuote" value="AddToQuote" class="btn btn-success w-100 mt-2">
                    @if (Model.LineId == Guid.Empty)
                    {
                        <i class="fas fa-plus mr-2"></i>@:Add Item to Quote
                    }
                    else
                    {
                        <i class="fas fa-redo mr-2"></i>@:Update Item in Quote
                    }
                </button>
            }
            else
            {
                <button type="submit" name="SaveForLater" value="SaveForLater" class="btn btn-warning w-100 mt-2" data-toggle="tooltip" data-placement="top" title="This item is partially configured. You may save it and return to finish configuration later.">
                    <i class="fas fa-save mr-2"></i> Save For Later
                </button>
            }
        </div>
    </div>
</form>