﻿@model ConfigureViewModel

@{
    ViewData["Title"] = "Configure";

    string ShowSection(bool shouldShow)
    {
        return shouldShow ? "show" : "";
    }
}

<form id="configForm" asp-action="AddItem">
    <input type="hidden" asp-for="LineId" />
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">
                    <b><u>Configuration</u></b>
                </div>
                <div class="col-md-2">
                    <b><u>Code</u></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    Quasonix
                </div>
                <div class="col-md-2">
                    QSX
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Transmitter with variable rate, auto-scaling of deviation and filter BW
                </div>
                <div class="col-md-2">
                    V
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#bandComboCollapse" data-field="#ShowBandCombinationSection">
                        Select band combination 
                        @if (Model.BandComboChecklist.HasSelection || Model.BandComboChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowBandCombinationSection" />
                </div>
                <div class="col-md-2">
                    @Model.BandCombination?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="bandComboCollapse" class="collapse col-md-12 border small @ShowSection(Model.ShowBandCombinationSection)">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th style="min-width:60px"></th>

                                @for (int i = 0; i < Model.BandChecklist.Options.Count; i++)
                                {
                                    <th>
                                        <label>
                                            <input type="checkbox" asp-for="BandChecklist.Options[i].IsSelected" disabled="@Model.BandComboChecklist.HasSelection" class="postClick mr-1" />
                                            @Model.BandChecklist.Options[i].LabelText
                                        </label>
                                        <input type="hidden" asp-for="BandChecklist.Options[i].Id" />
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.BandComboChecklist.Options.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" asp-for="BandComboChecklist.Options[i].IsSelected" class="postClick mr-1" />
                                            @Model.BandComboChecklist.Options[i].LabelText
                                        </label>
                                        <input type="hidden" asp-for="BandComboChecklist.Options[i].Id" />
                                    </td>

                                    @for (int j = 0; j < Model.BandCheckmarks[i].Count; j++)
                                    {
                                        <td>
                                            @if (Model.BandCheckmarks[i][j])
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                            @if (Model.BandComboChecklist.Options.Count == 0)
                            {
                                <tr>
                                    <td colspan="@(Model.BandChecklist.Options.Count + 1)">
                                        <div class="text-center">
                                            No band combination exists with selected bands.
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#signalInterfaceCollapse" data-field="#ShowClockInterfaceSection">
                        Select signal interface
                        @if (Model.SignalInterfaceChecklist.HasSelection || Model.SignalInterfaceChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowClockInterfaceSection" />
                </div>
                <div class="col-md-2">
                    @Model.Baseband?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="signalInterfaceCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowClockInterfaceSection)">
                    @Html.EditorFor(x => Model.SignalInterfaceChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#serialCollapse" data-field="#ShowSerialControlSection">
                        Select serial control
                        @if (Model.SerialControlChecklist.HasSelection || Model.SerialControlChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowSerialControlSection" />
                </div>
                <div class="col-md-2">
                    @Model.SerialControlInterface?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="serialCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowSerialControlSection)">
                    @Html.EditorFor(x => Model.SerialControlChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#modulationCollapse" data-field="#ShowModulationSection">
                        Select modulation(s)
                        @if (Model.ModulationChecklist.HasSelection)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowModulationSection" />
                </div>
                <div class="col-md-2">
                    @((Model.HasArtm0 ? "1" : "0") + (Model.HasArtm1 ? "1" : "0") + (Model.HasArtm2 ? "1" : "0") + (Model.HasBPSK ? "1" : "0"))
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="modulationCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowModulationSection)">
                    @Html.EditorFor(x => Model.ModulationChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#rfpowerCollapse" data-field="#ShowRfPowerSection">
                        Select RF output power
                        @if (Model.PowerChecklist.HasSelection || Model.PowerChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowRfPowerSection" />
                </div>
                <div class="col-md-2">
                    @Model.RFPower?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="rfpowerCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowRfPowerSection)">
                    @Html.EditorFor(x => x.PowerChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Pinout (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.Pinout?.Name
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Package (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.Package?.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#footprintCollapse" data-field="#ShowFootprintSection">
                        Select footprint
                        @if (Model.FootprintChecklist.HasSelection || Model.FootprintChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowFootprintSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="footprintCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFootprintSection)">
                    @Html.EditorFor(x => Model.FootprintChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#heightCollapse" data-field="#ShowHeightSection">
                        Select maximum height
                        @if (Model.HeightChecklist.HasSelection || Model.HeightChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowHeightSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="heightCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowHeightSection)">
                    @Html.EditorFor(x => Model.HeightChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#clockConnectorCollapse" data-field="#ShowClockConnectorSection">
                        Select primary (clock/data/control) connector postion
                        @if (Model.DataConnectorPositionChecklist.HasSelection || Model.DataConnectorPositionChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowClockConnectorSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="clockConnectorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowClockConnectorSection)">
                    @Html.EditorFor(x => Model.DataConnectorPositionChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#rfConnectorCollapse" data-field="#ShowRfConnectorSection">
                        Select RF connector position
                        @if (Model.RfConnectorPositionChecklist.HasSelection || Model.RfConnectorPositionChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowRfConnectorSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="rfConnectorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowRfConnectorSection)">
                    @Html.EditorFor(x => Model.RfConnectorPositionChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#optionCollapse" data-field="#ShowOptionSection">
                        Select option(s)
                    </button>
                    <input type="hidden" asp-for="ShowOptionSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="optionCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowOptionSection)">
                    @Html.EditorFor(x => Model.OptionChecklist)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h5>
                <b>Part Number:</b> @Model.PartNumber
                <br />
            </h5>
            @foreach (var item in Model.LineItems)
            {
                <div class="row">
                    <div class="col-md-2">
                        @item.PartNumberDescriptor
                    </div>
                    <div class="col-md-10 line-break">@item.LineItemText</div>
                </div>
            }
            @if (Model.Pinout != null)
            {
                <div class="mt-2">
                    @foreach (var conn in Model.Pinout.ConnectorSet.ConnectorSetDataConnectors)
                    {
                        <h6 class="font-weight-bold">@conn.Rank.ToString() Connector (@conn.DataConnector.Name) Pins:</h6>
                        @foreach (var pin in conn.DataConnector.PinUsages.Where(x => x.Pinout == Model.Pinout).OrderBy(x => x.PinNumber))
                        {
                            <div class="row">
                                <div class="col-md-2">@pin.PinNumber</div>
                                <div class="col-md-10">@pin.Pin.Name</div>
                            </div>
                        }
                    }
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.StackString))
            {
                <div class="mt-2">
                    <h6 class="font-weight-bold">Board Stack:</h6>
                    <span style="white-space: pre-line">@Model.StackString</span>
                </div>
            }
            @if (Model.IsComplete)
            {
                <button type="submit" name="AddToQuote" value="AddToQuote" class="btn btn-success w-100 mt-2">
                    <i class="fas fa-plus mr-2"></i> Add Item to Quote
                </button>
            }
            else
            {
                <button type="submit" name="SaveForLater" value="SaveForLater" class="btn btn-warning w-100 mt-2" data-toggle="tooltip" data-placement="top" title="This item is partially configured. You may save it and return to finish configuration later.">
                    <i class="fas fa-save mr-2"></i> Save For Later
                </button>
            }
        </div>
    </div>
</form>