﻿@model ConfigureStatusLoggerViewModel

@{
    ViewData["Title"] = "Configure";

    string ShowSection(bool shouldShow)
    {
        return shouldShow ? "show" : "";
    }
}

<form id="configForm" asp-action="AddStatusLogger">
    <input type="hidden" asp-for="LineId" />
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">
                    <b><u>Configuration</u></b>
                </div>
                <div class="col-md-2">
                    <b><u>Code</u></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    Quasonix
                </div>
                <div class="col-md-2">
                    QSX
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    RDMS™ Status Logger
                </div>
                <div class="col-md-2">
                    RXSL
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Package (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.PackageText
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#formFactorCollapse" data-field="#ShowFormFactorSection">
                        Select form factor
                        @if (Model.FormFactorChecklist.HasSelection || Model.FormFactorChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowFormFactorSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="formFactorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFormFactorSection)">
                    @Html.EditorFor(x => Model.FormFactorChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#receiverCountCollapse" data-field="#ShowReceiverCountSection">
                        Select receiver license count
                        @if (Model.ReceiverCountChecklist.HasSelection || Model.ReceiverCountChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowReceiverCountSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="receiverCountCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowReceiverCountSection)">
                    @Html.EditorFor(x => Model.ReceiverCountChecklist)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h5>
                <b>Part Number:</b> @Model.PartNumber
            </h5>
            @foreach (var item in Model.LineItems)
            {
                <div class="row">
                    <div class="col-md-3">
                        @item.PartNumberDescriptor
                    </div>
                    <div class="col-md-9 line-break">@item.LineItemText</div>
                </div>
            }
            @if (Model.StatusLogger != null)
            {
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        Software
                    </div>
                    <div class="col-md-9 line-break">@Model.StatusLogger.Software</div>
                </div>
            }
            @if (Model.IsComplete)
            {
                <button type="submit" name="AddToQuote" value="AddToQuote" class="btn btn-success w-100 mt-2">
                    @if (Model.LineId == Guid.Empty)
                    {
                        <i class="fas fa-plus mr-2"></i>@:Add Item to Quote
                        }
                    else
                    {
                        <i class="fas fa-redo mr-2"></i>@:Update Item in Quote
                    }
                </button>
            }
            else
            {
                <button type="submit" name="SaveForLater" value="SaveForLater" class="btn btn-warning w-100 mt-2" data-toggle="tooltip" data-placement="top" title="This item is partially configured. You may save it and return to finish configuration later.">
                    <i class="fas fa-save mr-2"></i> Save For Later
                </button>
            }
        </div>
    </div>
</form>