﻿@model ConfigureEvtmViewModel

@{
    ViewData["Title"] = "Configure";

    string ShowSection(bool shouldShow)
    {
        return shouldShow ? "show" : "";
    }
}

<form id="configForm" asp-action="AddEvtm">
    <input type="hidden" asp-for="LineId" />
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">
                    <b><u>Configuration</u></b>
                </div>
                <div class="col-md-2">
                    <b><u>Code</u></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    Quasonix
                </div>
                <div class="col-md-2">
                    QSX
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Stand-alone Ethernet Via Telemetry Encoder/Decoder
                </div>
                <div class="col-md-2">
                    EVTM
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Package (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.PackageText
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#formFactorCollapse" data-field="#ShowFormFactorSection">
                        Select form factor
                        @if (Model.FormFactorChecklist.HasSelection || Model.FormFactorChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowFormFactorSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="formFactorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFormFactorSection)">
                    @Html.EditorFor(x => Model.FormFactorChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#channelCountCollapse" data-field="#ShowChannelCountSection">
                        Select channel count
                        @if (Model.ChannelCountChecklist.HasSelection || Model.ChannelCountChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowChannelCountSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="channelCountCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowChannelCountSection)">
                    @Html.EditorFor(x => Model.ChannelCountChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#clockDataCollapse" data-field="#ShowClockDataSection">
                        Select clock & data
                        @if (Model.ClockDataChecklist.HasSelection || Model.ClockDataChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowClockDataSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="clockDataCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowClockDataSection)">
                    @Html.EditorFor(x => Model.ClockDataChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#optionCollapse" data-field="#ShowOptionSection">
                        Select options
                        @if (Model.OptionChecklist.HasSelection || Model.OptionChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowOptionSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="optionCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowOptionSection)">
                    @Html.EditorFor(x => Model.OptionChecklist)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h5>
                <b>Part Number:</b> @Model.PartNumber
            </h5>
            @foreach (var item in Model.LineItems)
            {
                <div class="row">
                    <div class="col-md-3">
                        @item.PartNumberDescriptor
                    </div>
                    <div class="col-md-9">@item.LineItemText</div>
                </div>
            }
            @if (Model.IsComplete)
            {
                <button type="submit" name="AddToQuote" value="AddToQuote" class="btn btn-success w-100 mt-2">
                    @if (Model.LineId == Guid.Empty)
                    {
                        <i class="fas fa-plus mr-2"></i>@:Add Item to Quote
                    }
                    else
                    {
                        <i class="fas fa-redo mr-2"></i>@:Update Item in Quote
                    }
                </button>
            }
            else
            {
                <button type="submit" name="SaveForLater" value="SaveForLater" class="btn btn-warning w-100 mt-2" data-toggle="tooltip" data-placement="top" title="This item is partially configured. You may save it and return to finish configuration later.">
                    <i class="fas fa-save mr-2"></i> Save For Later
                </button>
            }
        </div>
    </div>
</form>