﻿@model ConfigureTxViewModel

@{
    ViewData["Title"] = "Configure";

    string ShowSection(bool shouldShow)
    {
        return shouldShow ? "show" : "";
    }
}

<form id="configForm" asp-action="AddItem">
    <input type="hidden" asp-for="LineId" />
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">
                    <b><u>Configuration</u></b>
                </div>
                <div class="col-md-2">
                    <b><u>Code</u></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    Quasonix
                </div>
                <div class="col-md-2">
                    QSX
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Transmitter with variable rate, auto-scaling of deviation and filter BW
                </div>
                <div class="col-md-2">
                    V
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#bandComboCollapse" data-field="#ShowBandCombinationSection">
                        Select band combination
                        @if (Model.BandCombinationChecklist.HasSelection || Model.BandCombinationChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowBandCombinationSection" />
                </div>
                <div class="col-md-2">
                    @Model.BandCombination?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="bandComboCollapse" class="collapse col-md-12 border small @ShowSection(Model.ShowBandCombinationSection)">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th style="min-width:60px"></th>
                                @for (int i = 0; i < Model.BandChecklist.Options.Count; i++)
                                {
                                    bool disabled = Model.BandCombinationChecklist.HasSelection || !Model.BandCheckmarks.Select(x => x[i]).Any(x => x);
                                    <th>
                                        <label style="font-size: 11px">
                                            <input type="checkbox" asp-for="BandChecklist.Options[i].IsSelected" disabled="@disabled" class="postClick mr-1" />
                                            @Model.BandChecklist.Options[i].LabelText
                                        </label>
                                        <input type="hidden" asp-for="BandChecklist.Options[i].Id" />
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.BandCombinationChecklist.Options.Count; i++)
                            {
                                <tr>
                                    <td class="text-nowrap checkbox-rowhead">
                                        <label>
                                            @if (Model.BandCombinationChecklist.HasGhost)
                                            {
                                                <input type="checkbox" disabled="disabled" checked="checked" class="mr-1" />
                                                @Model.BandCombinationChecklist.Options[i].LabelText
                                                <i class="fal fa-ghost ghost-select ml-1" data-toggle="tooltip" data-placement="top" title='This option has been "ghost" selected as it is the only remaining choice'></i>
                                            }
                                            else
                                            {
                                                <input type="checkbox" asp-for="BandCombinationChecklist.Options[i].IsSelected" class="postClick mr-1" />
                                                @Model.BandCombinationChecklist.Options[i].LabelText
                                            }
                                        </label>
                                        <input type="hidden" asp-for="BandCombinationChecklist.Options[i].Id" />
                                    </td>

                                    @for (int j = 0; j < Model.BandCheckmarks[i].Count; j++)
                                    {
                                        <td>
                                            @if (Model.BandCheckmarks[i][j])
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                            @if (Model.BandCombinationChecklist.Options.Count == 0)
                            {
                                <tr>
                                    <td colspan="@(Model.BandChecklist.Options.Count + 1)">
                                        <div class="text-center">
                                            No band combination exists with selected bands.
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#basebandCollapse" data-field="#ShowBasebandSection">
                        Select signal interface
                        @if (Model.BasebandChecklist.HasSelection || Model.BasebandChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowBasebandSection" />
                </div>
                <div class="col-md-2">
                    @Model.Baseband?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="basebandCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowBasebandSection)">
                    @Html.EditorFor(x => Model.BasebandChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#serialCollapse" data-field="#ShowSerialSection">
                        Select serial control
                        @if (Model.SerialChecklist.HasSelection || Model.SerialChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowSerialSection" />
                </div>
                <div class="col-md-2">
                    @Model.SerialControlInterface?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="serialCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowSerialSection)">
                    @Html.EditorFor(x => Model.SerialChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#modulationCollapse" data-field="#ShowModulationSection">
                        Select modulation(s)
                        @if (Model.Modulations.Any())
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowModulationSection" />
                </div>
                <div class="col-md-2">
                    @if (Model.Modulations.Any())
                    {
                        @Model.ModulationString
                    }
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="modulationCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowModulationSection)">
                    @Html.EditorFor(x => Model.ModulationChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#rfpowerCollapse" data-field="#ShowRadioPowerSection">
                        Select RF output power
                        @if (Model.RadioPowerChecklist.HasSelection || Model.RadioPowerChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowRadioPowerSection" />
                </div>
                <div class="col-md-2">
                    @Model.RadioPower?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="rfpowerCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowRadioPowerSection)">
                    @Html.EditorFor(x => x.RadioPowerChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Pinout (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.Pinout?.Name
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Package (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.Package?.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#footprintCollapse" data-field="#ShowFootprintSection">
                        Select footprint
                        @if (Model.FootprintChecklist.HasSelection || Model.FootprintChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowFootprintSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="footprintCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFootprintSection)">
                    @Html.EditorFor(x => Model.FootprintChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#heightCollapse" data-field="#ShowHeightSection">
                        Select maximum height
                        @if (Model.HeightChecklist.HasSelection || Model.HeightChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowHeightSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="heightCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowHeightSection)">
                    @Html.EditorFor(x => Model.HeightChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#dataConnectorCollapse" data-field="#ShowDataConnectorSection">
                        Select primary (clock/data/control) connector postion
                        @if (Model.DataConnectorPositionChecklist.HasSelection || Model.DataConnectorPositionChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowDataConnectorSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="dataConnectorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowDataConnectorSection)">
                    @Html.EditorFor(x => Model.DataConnectorPositionChecklist)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#rfConnectorCollapse" data-field="#ShowRadioConnectorSection">
                        Select RF connector position
                        @if (Model.RadioConnectorPositionChecklist.HasSelection || Model.RadioConnectorPositionChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowRadioConnectorSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="rfConnectorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowRadioConnectorSection)">
                    @Html.EditorFor(x => Model.RadioConnectorPositionChecklist)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Options
                </div>
                <div class="col-md-2 text-nowrap text-rtl">
                    @string.Join("-", Model.Options.OrderBy(x => x.Name).Select(x => x.Name))
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#optionComboCollapse" data-field="#ShowOptionCombinationSection">
                        Select hardware option combination
                        @if (Model.OptionCombinationChecklist.HasSelection || Model.OptionCombinationChecklist.HasGhost)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                    </button>
                    <input type="hidden" asp-for="ShowOptionCombinationSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="optionComboCollapse" class="collapse col-md-12 border small @ShowSection(Model.ShowOptionCombinationSection)">

                    <button class="optionDefsBtn btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#optionDefs">
                        <i class="fal fa-plus"></i> Show hardware option definitions
                    </button>
                    <button class="optionDefsBtn btn btn-link collapsed p-0 d-none" type="button" data-toggle="collapse" data-target="#optionDefs">
                        <i class="fal fa-minus"></i> Hide hardware option definitions
                    </button>
                    <div id="optionDefs" class="collapse">
                        <ul>
                            @foreach (var def in Model.HardwareOptionDefinitions)
                            {
                                <li>@def</li>
                            }
                        </ul>
                    </div>
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                @for (int i = 0; i < Model.HardwareOptionChecklist.Options.Count; i++)
                                {
                                    bool disabled = Model.OptionCombinationChecklist.HasSelection || !Model.HardwareOptionCheckmarks.Select(x => x[i]).Any(x => x);
                                    <th>
                                        <label style="font-size: 11px">
                                            <input type="checkbox" asp-for="HardwareOptionChecklist.Options[i].IsSelected" disabled="@disabled" class="postClick mr-1" />
                                            @Model.HardwareOptionChecklist.Options[i].LabelText
                                        </label>
                                        <input type="hidden" asp-for="HardwareOptionChecklist.Options[i].Id" />
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.OptionCombinationChecklist.Options.Count; i++)
                            {
                                <tr>
                                    <td class="text-nowrap checkbox-rowhead">
                                        <label>
                                            @Model.OptionCombinationChecklist.Options[i].LabelText
                                            @if (Model.OptionCombinationChecklist.HasGhost)
                                            {
                                                <input type="checkbox" disabled="disabled" checked="checked" class="mr-1" />
                                                <i class="fal fa-ghost ghost-select" data-toggle="tooltip" data-placement="top" title='This option has been "ghost" selected as it is the only remaining choice'></i>
                                            }
                                            else
                                            {
                                                <input type="checkbox" asp-for="OptionCombinationChecklist.Options[i].IsSelected" class="postClick mr-1" />
                                            }
                                        </label>
                                        <input type="hidden" asp-for="OptionCombinationChecklist.Options[i].Id" />
                                    </td>

                                    @if (!Model.HardwareOptionCheckmarks[i].Any(x => x))
                                    {
                                        <td colspan="@(Model.HardwareOptionChecklist.Options.Count + 1)">
                                            <div class="text-center">
                                                Include no hardware options
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        for (int j = 0; j < Model.HardwareOptionCheckmarks[i].Count; j++)
                                        {
                                            <td>
                                                @if (Model.HardwareOptionCheckmarks[i][j])
                                                {
                                                    <i class="fas fa-check"></i>
                                                }
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                            @if (Model.OptionCombinationChecklist.Options.Count == 0)
                            {
                                <tr>
                                    <td colspan="@(Model.HardwareOptionChecklist.Options.Count + 1)">
                                        <div class="text-center">
                                            No hardware option combination exists with selected options.
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#optionCollapse" data-field="#ShowOptionSection">
                        Select option(s)
                    </button>
                    <input type="hidden" asp-for="ShowOptionSection" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="optionCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowOptionSection)">
                    @Html.EditorFor(x => Model.OptionChecklist)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h5>
                <b>Part Number:</b> @Model.PartNumber
                <br />
            </h5>
            @foreach (var item in Model.LineItems)
            {
                <div class="row">
                    <div class="col-md-2">
                        @item.PartNumberDescriptor
                    </div>
                    <div class="col-md-10 line-break">@item.LineItemText</div>
                </div>
            }
            @if (Model.Pinout != null)
            {
                <div class="mt-2">
                    @foreach (var conn in Model.Pinout.ConnectorSet.ConnectorSetDataConnectors.OrderBy(x => x.Rank))
                    {
                        <h6 class="font-weight-bold">@conn.Rank.ToString() Connector (@conn.DataConnector.Name) Pins:</h6>
                        @foreach (var pin in conn.DataConnector.PinUsages.Where(x => x.Pinout == Model.Pinout).OrderBy(x => x.PinNumber))
                        {
                            <div class="row">
                                <div class="col-md-2">@pin.PinNumber</div>
                                <div class="col-md-10">@pin.Pin.Name</div>
                            </div>
                        }
                    }
                </div>
            }
            @if (Model.IsComplete)
            {
                <button type="submit" name="AddToQuote" value="AddToQuote" class="btn btn-success w-100 mt-2">
                    @if (Model.LineId == Guid.Empty)
                    {
                        <i class="fas fa-plus mr-2"></i>@:Add Item to Quote
                        }
                    else
                    {
                        <i class="fas fa-redo mr-2"></i>@:Update Item in Quote
                    }
                </button>
            }
            else
            {
                <button type="submit" name="SaveForLater" value="SaveForLater" class="btn btn-warning w-100 mt-2" data-toggle="tooltip" data-placement="top" title="This item is partially configured. You may save it and return to finish configuration later.">
                    <i class="fas fa-save mr-2"></i> Save For Later
                </button>
            }
        </div>
    </div>
</form>