﻿@model Product

@if (Model.PriceDetails.Any(x => x.Type == PriceDetailType.Unit && x.Price != 0))
{
    foreach (var detail in Model.PriceDetails.Where(x => x.Type == PriceDetailType.Unit && x.Price != 0))
    {
        <div class="row">
            <div class="col-6">
                @detail.Message
            </div>
            <div class="col-6">
                @detail.Price.ToString("c0")
            </div>
        </div>
    }
    <hr />
}

@foreach (var detail in Model.PriceDetails.Where(x => x.Type == PriceDetailType.Adjustment))
{
    <div class="row">
        <div class="col-6">
            @detail.Message
        </div>
        <div class="col-6">
            @detail.Price.ToString("c0")
        </div>
    </div>
}

<hr />
@foreach (var detail in Model.PriceDetails.Where(x => x.Type == PriceDetailType.Summary))
{
    <div class="row">
        <div class="col-6">
            @detail.Message
        </div>
        <div class="col-6">
            @detail.Price.ToString("c0")
        </div>
    </div>
}
