﻿@model ConfigureAccessoryViewModel

@{
    ViewData["Title"] = "Configure Accessory";
}

<a asp-controller="Quote" asp-action="AddEvtm" id="btnReset" class="btn btn-primary"><i class="fa fas fa-redo"></i> Reset Filter</a>

<div id="container">
    <partial name="_ConfigureAccessory" model="Model" />
</div>

@section Scripts {

    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $("#btnReset").click(function () {
            $(window).unbind('beforeunload');
        })

        $('#container').on("submit", 'form#configForm', function () {
            $(window).unbind('beforeunload');
        });

        $('#container').on("click", ".postClick", function () {
            $.post("AddAccessory", $('form#configForm').serialize(), function (result) {
                $('#container').html(result);

                // reenable the tooltip
                $('[data-toggle="tooltip"]').tooltip()
            });
        })

        $('#container').on("click", ".collapsed", function () {
            var dataField = $(this).data('field');
            var value = $(dataField).val();
            if (value == "True")
                $(dataField).val("False")
            if (value == "False")
                $(dataField).val("True")
        })
    </script>

}