﻿@model QuoteViewModel

@{
    ViewData["Title"] = "Current Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Current Quote - @Model.Number</h1>

<div class="row">
    <div class="col-lg-9">
        <div class="mb-3">
            <div class="pt-4">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addItemModal">
                    <i class="fas fa-plus mr-2"></i>Add New Item to Quote
                </button>

                @if (Model.Lines.Count > 0)
                {
                    <h3 class="mb-4">Included in Quote</h3>
                    <div class="card card-body mb-4 p-2">
                        <div>
                            <i class="fal fa-info-circle ml-2 mr-1 text-info"></i>
                            Quoted prices include shipping. Click or tap a price to view details.
                        </div>
                    </div>
                    @foreach (var line in Model.IncludedLines.OrderBy(x => x.Number))
                    {
                        <partial name="_CartLine" model="line" />
                    }

                    @if (Model.HasExcludedLines)
                    {
                        <h3 class="mb-4 mt-5">Excluded from Quote</h3>
                        @foreach (var line in Model.ExcludedLines.OrderBy(x => x.Number))
                        {
                            <partial name="_CartLine" model="line" />
                        }
                    }
                }
                else
                {
                    <h3 class="mb-4">No Items in Quote</h3>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            <div class="pt-4">
                <h4 class="mb-3 font-weight-bold">Quote Summary</h4>
                <hr />
                <div class="row mb-3">
                    <div class="col-7 font-weight-bold">
                        Total
                    </div>
                    <div class="col-5 text-right">
                        @Model.TotalString
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @if (Model.PaymentTerms == null)
                            {
                        <button class="btn btn-outline-warning w-100" data-toggle="modal" data-target="#paymentTermsModal">
                            Select Payment Terms
                        </button>
                            }
                            else
                            {
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="card-title mb-0">Payment Terms</h6>
                                    <button class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#paymentTermsModal">
                                        <i class="fal fa-pencil"></i>
                                    </button>
                                </div>
                                <div class="row text-muted text-uppercase small">
                                    <div class="col-7">
                                        <div>Net @Model.PaymentTerms</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            }
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12">
                        @if (!Model.CustomerInfoComplete)
                            {
                        <button class="btn btn-outline-warning w-100" data-toggle="modal" data-target="#customerInfoModal">
                            Enter Customer Info
                        </button>
                            }
                            else
                            {
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="card-title mb-0">Customer Info</h6>
                                    <button class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#customerInfoModal">
                                        <i class="fal fa-pencil"></i>
                                    </button>
                                </div>
                                <div class="row text-muted text-uppercase small">
                                    <div class="col-7">
                                        <div>@Model.CustomerName</div>
                                        <div>@Model.CustomerLocation</div>
                                        <div>@Model.PurchaserEmail</div>
                                        <div>@Model.AdditionalInformation</div>
                                    </div>
                                    <div class="col-5">
                                        <div>@Model.OrderType.ToString()</div>
                                        <div>@Model.ShippingZone</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            }
                    </div>
                </div>
                <hr />
                <div class="row mb-3">
                    <div class="col-12">
                        @if (string.IsNullOrWhiteSpace(Model.CoverText))
                            {
                        <button class="btn btn-outline-warning w-100" data-toggle="modal" data-target="#coverTextModal">
                            Add Cover Text (optional)
                        </button>
                            }
                            else
                            {
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="card-title mb-0">Cover Text</h6>
                                    <button class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#coverTextModal">
                                        <i class="fal fa-pencil"></i>
                                    </button>
                                </div>
                                <div class="row text-muted text-uppercase small">
                                    <div class="col-12">
                                        @Model.CoverText
                                    </div>
                                </div>
                            </div>
                        </div>
                            }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @if (string.IsNullOrWhiteSpace(Model.Description))
                            {
                        <button class="btn btn-outline-warning w-100" data-toggle="modal" data-target="#descriptionModal">
                            Add Description (recommended)
                        </button>
                            }
                            else
                            {
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="card-title mb-0">Description</h6>
                                    <button class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#descriptionModal">
                                        <i class="fal fa-pencil"></i>
                                    </button>
                                </div>
                                <div class="row text-muted text-uppercase small">
                                    <div class="col-12">
                                        @Model.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                            }
                    </div>
                </div>
                <hr />
                @if (Model.CustomerInfoComplete)
                    {
                <form asp-action="FinalizeQuote" class="mb-3">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-outline-primary btn-block"><i class="fal fa-file-pdf mr-2"></i>View PDF</button>
                </form>
                <form asp-action="FinalizeQuote">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-primary btn-block"><i class="fal fa-envelope mr-2"></i>Submit Quote</button>
                </form>
                    }
                    else
                    {
                <button type="button" class="btn btn-outline-primary btn-block mb-3 disabled" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Customer information required"><i class="fal fa-file-pdf mr-2"></i>View PDF</button>
                <button type="button" class="btn btn-primary btn-block disabled" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Customer information required"><i class="fal fa-envelope mr-2"></i>Submit Quote</button>
                    }
            </div>
        </div>
    </div>
</div>

<!-- Add Item Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Add Item to Quote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div id="addItemContainer">
                <partial name="/Views/AddItem/_Start.cshtml" />
            </div>
        </div>
    </div>
</div>

<!-- Customer Info Modal -->
<div class="modal fade" id="customerInfoModal" tabindex="-1" role="dialog" aria-labelledby="customerInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerInfoModalLabel">Customer Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="container">
                <form asp-action="UpdateCustomerInfo">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CustomerName"></label>
                                <input type="text" asp-for="CustomerName" class="form-control" />
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CustomerLocation"></label>
                                <input type="text" asp-for="CustomerLocation" class="form-control" />
                                <span asp-validation-for="CustomerLocation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="OrderType"></label>
                                <select asp-for="OrderType" asp-items="Html.GetEnumSelectList<OrderType>()" class="form-control">
                                    <option disabled selected class="default-select-option" value="">Select order type</option>
                                </select>
                                <span asp-validation-for="OrderType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ShippingZone"></label>
                                <select asp-for="ShippingZone" asp-items="Html.GetEnumSelectList<ShippingZone>()" class="form-control">
                                    <option disabled selected class="default-select-option" value="">Select shipping zone</option>
                                </select>
                                <span asp-validation-for="ShippingZone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="PurchaserEmail"></label>
                                <input type="text" asp-for="PurchaserEmail" class="form-control" />
                                <span asp-validation-for="PurchaserEmail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="AdditionalInformation"></label>
                                <input type="text" asp-for="AdditionalInformation" class="form-control" />
                                <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Payment Terms Modal -->
<div class="modal fade" id="paymentTermsModal" tabindex="-1" role="dialog" aria-labelledby="paymentTermsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentTermsModalLabel">Customer Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="container">
                <form asp-action="UpdatePaymentTerms">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="PaymentTerms"></label>
                                <select asp-for="PaymentTerms" class="form-control">
                                    <option value="30">Net 30</option>
                                    <option value="33">Net 33</option>
                                    <option value="45">Net 45</option>
                                    <option value="60">Net 60</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Cover Text Modal -->
<div class="modal fade" id="coverTextModal" tabindex="-1" role="dialog" aria-labelledby="coverTextModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="coverTextModalLabel">Customer Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="container">
                <form asp-action="UpdateCoverText">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CoverText"></label>
                                <textarea rows="2" asp-for="CoverText" class="form-control"></textarea>
                                <span asp-validation-for="CoverText" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Description Modal -->
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descriptionModalLabel">Customer Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="container">
                <form asp-action="UpdateDescription">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea rows="2" asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Price Detail Modal -->
<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="priceModalLabel">Price Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="container p-3" id="priceDetailContainer">
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        var startPage = "/AddItem/Start";
        var backPage = "/AddItem/Start";

        $(document).on("keyup", ".line-quantity", function () {
            showUpdateButton(this);
        })

        $(document).on("click", ".quantity-up", function () {
            $(this).parent().find('.line-quantity')[0].stepUp();
            showUpdateButton(this);
        })

        $(document).on("click", ".quantity-down", function () {
            $(this).parent().find('.line-quantity')[0].stepDown();
            showUpdateButton(this);
        })

        function showUpdateButton(rootEl) {
            $(rootEl).closest('form').find('.btn-update-qty').removeClass('invisible');
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

            // prevent post via enter key
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        })

        $(document).on("click", "#btnBack", function () {
            $.get(backPage, function (data) {
                $("#addItemContainer").html(data);
            })
            backPage = startPage;
        })

        $(document).on("click", "#btnTestEq", function () {
            $.get("/AddItem/TestEquipment", function (data) {
                $("#addItemContainer").html(data);
            })
        })

        $(document).on("click", "#btnRxAnalyzer", function () {
            backPage = "/AddItem/TestEquipment";
            $.get("/AddItem/RxAnalyzer", function (data) {
                $("#addItemContainer").html(data);
            })
        })

        $(document).on("click", "#btnFromPN", function () {
            $.get("/AddItem/FromPartNumber", function (data) {
                $("#addItemContainer").html(data);
            })
        })

        $(document).on("click", "#btnFromQuote", function () {
            $.get("/AddItem/FromQuote", function (data) {
                $("#addItemContainer").html(data);
            })
        })

        $(document).on("change", "#dropdownQuote", function () {
            $.post("/AddItem/FromQuote", $("#fromQuoteForm").serialize(), function (data) {
                $("#addItemContainer").html(data);
            })
        })

        $(document).on("click", ".price-detail", function () {
            var id = $(this).attr("value");
            $.get("/Quote/GetPriceDetail", { lineId: id }, function (data) {
                $("#priceDetailContainer").html(data);
                $("#priceModal").modal('show');
            })
        })

        //setup before functions
        var typingTimer;                //timer identifier
        var doneTypingInterval = 1500;  //time in ms

        //on keyup, start the countdown
        $(document).on("keyup", "#txtPartNumber", function () {
            clearTimeout(typingTimer);
            if ($(this).val()) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }
        });

        //user is "finished typing," do something
        function doneTyping() {
            $.post("/AddItem/FromPartNumber", $("#fromPNForm").serialize(), function (data) {
                $("#fromPartContainer").html(data);
            })
        }
    </script>

} 