﻿@model ConfigureTxViewModel

@{
    ViewData["Title"] = "Configure";
}

<a asp-controller="Quote" asp-action="ConfigureTx" class="btn btn-primary" id="btnReset"><i class="fa fas fa-redo"></i> Reset Filter</a>

<div id="container">
    <partial name="_ConfigureTx" model="Model" />
</div>

<!-- Processing Modal -->
<div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="processModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="fa-2x p-3 text-center">
                <i class="fas fa-spinner fa-spin mr-1"></i> Processing
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $('#container').on("submit", 'form#configForm', function () {
            $(window).unbind('beforeunload');
        });

        $(document).on("click", '#btnReset', function () {
            $(window).unbind('beforeunload');
        });

        $('#container').on('click', '.optionDefsBtn', function () {
            $('.optionDefsBtn').removeClass('d-none');
            $(this).addClass('d-none');
        });

        $('#container').on("click", ".postClick", function () {
            // show processing modal
            $('#processModal').modal({
                backdrop: 'static',
                show: true
            });

            $.post("ConfigureTx", $('form#configForm').serialize(), function (result) {
                $('#container').html(result);

                // reenable the tooltip
                $('[data-toggle="tooltip"]').tooltip()

                // once something is clicked, bind the func to prevent leaving data
                $(window).bind('beforeunload', function () {
                    return 'Are you sure you want to leave?';
                });

                // hide processing modal
                $('#processModal').modal('hide');
            });
        })

        $('#container').on("click", ".collapsed", function () {
            var dataField = $(this).data('field');
            var value = $(dataField).val();
            if (value == "True")
                $(dataField).val("False")
            if (value == "False")
                $(dataField).val("True")
        })
    </script>

}