﻿@model IEnumerable<Quote>

@{
    ViewData["Title"] = "Quotes";
}

<a class="btn btn-success float-right" asp-action="Create"><span class="fas fa-plus"></span></a>

<h1>Quotes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <i class="fal fa-user mr-2"></i>
                User
            </th>
            <th>
                <i class="fal fa-pound mr-2"></i>
                Quote Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quote in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(x => quote.User.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(x => quote.Number)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Cart" asp-controller="Quote" asp-route-id="@quote.Id">View Quote</a>
            </td>
        </tr>
        }
    </tbody>
</table>