﻿@model RxPackageViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Name" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Description" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PartNumberDescriptor" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="PartNumberDescriptor" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="PartNumberDescriptor" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FormFactorId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-vector-square"></i></span>
        </div>
        <select asp-for="FormFactorId" asp-items="Model.FormFactorOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="FormFactorId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ChannelSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-radio"></i></span>
        </div>
        <select asp-for="ChannelSetId" asp-items="Model.ChannelSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="ChannelSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FrontPanelDisplayId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-tv"></i></span>
        </div>
        <select asp-for="FrontPanelDisplayId" asp-items="Model.FrontPanelDisplayOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="FrontPanelDisplayId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FrontPanelInterfaceId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-keyboard"></i></span>
        </div>
        <select asp-for="FrontPanelInterfaceId" asp-items="Model.FrontPanelInterfaceOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="FrontPanelInterfaceId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BasebandSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="BasebandSetId" asp-items="Model.BasebandSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="BasebandSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="RfInputConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="RfInputConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="RfInputConnectorSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="IfInputConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="IfInputConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="IfInputConnectorSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="IfOutputConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="IfOutputConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="IfOutputConnectorSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="EthernetConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="EthernetConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="EthernetConnectorSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="AnalogOutputConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="AnalogOutputConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="AnalogOutputConnectorSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="AmOutputConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="AmOutputConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="AmOutputConnectorSetId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="AgcOutputConnectorSetId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="AgcOutputConnectorSetId" asp-items="Model.ConnectorSetOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="AgcOutputConnectorSetId" class="text-danger"></span>
</div>