﻿@{
    ViewData["Title"] = "Email Confirmed!";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email. You may now <a asp-controller="Account" asp-action="Login">login</a>
    </p>
</div>
