﻿@model string

@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password. -- Until that works, <a href="@Model">use this link</a>
</p>
