﻿@model PriceVersionViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Number"></label>
    <input type="text" asp-for="Number" class="form-control" disabled="disabled" />
    <input type="hidden" asp-for="Number" class="form-control" />
    <span asp-validation-for="Number" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EffectiveDate"></label>
    <input type="date" asp-for="EffectiveDate" class="form-control" />
    <span asp-validation-for="EffectiveDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Note"></label>
    <input type="text" asp-for="Note" class="form-control" />
    <span asp-validation-for="Note" class="text-danger"></span>
</div>