﻿@model OptionViewModel

<partial name="_ErrorSummary" />

<div class="form-group">
    <label asp-for="Name" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PartNumberDescriptor" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="descriptor-prepend">-XX</span>
        </div>
        <input type="text" asp-for="PartNumberDescriptor" class="form-control" aria-describedby="descriptor-prepend" />
    </div>
    <span asp-validation-for="PartNumberDescriptor" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LineItemText" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="line-text-prepend"><i class="fal fa-text"></i></span>
        </div>
        <input type="text" asp-for="LineItemText" class="form-control" aria-describedby="line-text-prepend" />
    </div>
    <span asp-validation-for="LineItemText" class="text-danger"></span>
</div>

<label asp-for="Bindings" class="font-weight-bold"></label>
@Html.ListEditorFor(x => x.Bindings,
    Url.Action("AddBinding"),
    "Add Bound Option",
    itemContainerTemplate: "TableItemTemplate",
    listContainerTemplate: "OptionBindingListTemplate")