﻿@model OptionDetailViewModel

@{
    ViewData["Title"] = Model.Name + " - Option Detail";
}

<h1>Option</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumberDescriptor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartNumberDescriptor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LineItemText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LineItemText)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pins)
        </dt>
        <dd class="col-sm-10">
            @foreach (var pin in Model.Pins)
            {
                <a asp-action="Detail" asp-controller="Pin" asp-route-id="@pin.Id">@pin.Name</a>
                <br />
            }
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
