﻿@model IEnumerable<Quasonix.Catalog.Entities.Quote>


@if (Model.Count() == 0)
{
    <form asp-action="Create" asp-controller="Quote">
        <h3 class="text-center">
            <button class="btn btn-link p-0 align-top" style="font-size:inherit; line-height:inherit" type="submit">Create a new quote</button> to get started!
        </h3>
    </form>
}
else
{
    <form asp-action="Create" asp-controller="Quote">
        <button class="btn btn-success float-right" type="submit"><span class="fas fa-plus"></span> New Quote</button>
    </form>

    <h3>Your Quotes</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    Items
                </th>
                <th>
                    Date Started
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                        @if (item.Active)
                        {
                            <span class="badge badge-success badge-outline"><i class="fas fa-check text-success mr-1"></i>Active Quote</span>
                        }
                    </td>
                    <td>
                        @item.Lines.Select(x => x.Quantity).Sum()
                    </td>
                    <td>
                        @item.StartDate.ToShortDateString()
                    </td>
                    <td>
                        <div class="btn-group float-right">
                            @if (item.Active)
                            {
                                <a asp-action="Cart" asp-controller="Quote" asp-route-id="@item.Id" class="btn btn-primary" style="min-width: 100px">
                                    <i class="fas fa-eye mr-1"></i>
                                    View
                                </a>
                            }
                            else
                            {
                                <a asp-action="Open" asp-controller="Quote" asp-route-id="@item.Id" class="btn btn-primary" style="min-width: 100px">
                                    <i class="fas fa-folder-open mr-1"></i>
                                    Open
                                </a>
                            }
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a asp-action="Delete" asp-controller="Quote" asp-route-id="@item.Id" class="btn dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
