﻿@model HeightViewModel
@{
    ViewBag.Title = "Create";
}

<form asp-action="Create">
    @Html.ValidationSummary(true)
    <fieldset>

        <input type="hidden" asp-for="Id" />
        <partial name="_CreateOrEdit.cshtml">

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
                </div>
            </div>
    </fieldset>
</form>