﻿@model HeightViewModel
@{
    ViewBag.Title = "Edit";
}

<form asp-action="Edit">
    @Html.ValidationSummary(true)
    <h2>Height</h2>

    <partial name="_CreateOrEdit.cshtml" />

    <div class="mt-2">
        <input type="submit" value="Save" class="btn btn-success" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
    </div>
</form>