﻿@model BoardViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="ManufacturingName" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="mfg-name-prepend"><i class="fal fa-conveyor-belt-alt"></i></span>
        </div>
        <input type="text" asp-for="ManufacturingName" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="ManufacturingName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="EngineeringName" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="eng-name-prepend"><i class="fal fa-cogs"></i></span>
        </div>
        <input type="text" asp-for="EngineeringName" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="EngineeringName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Type" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="type-name-prepend"><i class="fal fa-shapes"></i></span>
        </div>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<BoardType>()" class="form-control"></select>
    </div>
    <span asp-validation-for="Type" class="text-danger"></span>
</div>
