﻿@model BoardDetailViewModel

@{
    ViewData["Title"] = Model.FullName + " - Board Detail";
}

<h1>Board Detail</h1>

<div>
    <h4>@Model.FullName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineeringName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineeringName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturingName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturingName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stacks)
        </dt>
        <dd class="col-sm-10">
            @foreach (var stack in Model.Stacks)
            {
                <a asp-action="Detail" asp-controller="Stack" asp-route-id="@stack.Id">@stack.Name</a>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
