﻿@model DataConnectorViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PinCount"></label>
    <input type="number" asp-for="PinCount" class="form-control" />
    <span asp-validation-for="PinCount" class="text-danger"></span>
</div>