﻿@model DataConnectorDetailViewModel

@{
    ViewData["Title"] = Model.Name + " - Data Connector Detail";
}

<h1>Data Connector Detail</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Packages)
        </dt>
        <dd class="col-sm-10">
            @foreach (var package in Model.Packages)
            {
                <a asp-action="Detail" asp-controller="Package" asp-route-id="@package.Id">@package.Name</a>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
