﻿@model DataConnectorViewModel
@{
    ViewBag.Title = "Edit";
}

<form asp-action="Edit">
    @Html.ValidationSummary(true)
    <h2>Data Connector</h2>

    <partial name="_CreateOrEdit.cshtml" />

    <div class="mt-2">
        <input type="submit" value="Save" class="btn btn-success" />
        <a asp-action="Index" class="btn">Cancel</a>
    </div>
</form>