﻿@model PinDetailViewModel

@{
    ViewData["Title"] = Model.Name + " - Pin Detail";
}

    <h1>Pin Detail</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pinouts)
        </dt>
        <dd class="col-sm-10">
            @foreach (var pinout in Model.Pinouts)
            {
                <a asp-action="Detail" asp-controller="Pinout" asp-route-id="@pinout.Id">@pinout.Name</a>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
