﻿@model Quasonix.Catalog.Models.ConnectorForConnectorSetViewModel

<div class="col-7 col-md-8 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="connector-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="ConnectorId" asp-items="Model.ConnectorOptions" class="form-control" aria-describedby="connector-prepend"></select>
    </div>
    <span asp-validation-for="ConnectorId" class="text-danger"></span>
</div>
<div class="col-3 col-md-3 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="count-prepend"><i class="fal fa-list-ol"></i></span>
        </div>
        <input type="number" asp-for="Count" class="form-control" aria-describedby="count-prepend" />
    </div>
    <span asp-validation-for="Count" class="text-danger"></span>
</div>