﻿@model Quasonix.Catalog.Models.DataConnectorForPinoutViewModel

@{
    var pinsId = Guid.NewGuid();
}

    <div class="col-md-11">
        <div class="row">
            <div class="col-6 col-md-5 pl-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="connector-prepend"><i class="fal fa-plug"></i></span>
                    </div>
                    <select asp-for="DataConnectorId" asp-items="Model.DataConnectorOptions" class="form-control" aria-describedby="connector-prepend"></select>
                </div>
                <span asp-validation-for="DataConnectorId" class="text-danger"></span>
            </div>
            <div class="col-4 col-md-5 pl-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="rank-prepend"><i class="fal fa-list-ol"></i></span>
                    </div>
                    <select asp-for="Rank" asp-items="Html.GetEnumSelectList<Quasonix.Catalog.Entities.ConnectorRank>()" class="form-control" aria-describedby="rank-prepend"></select>
                </div>
                <span asp-validation-for="Rank" class="text-danger"></span>
            </div>
            <div class="col-2 col-md-2 pl-0">
                <div class="input-group">
                    <button type="button" class="btn btn-outline-secondary w-100"><i class="fal fa-braille mr-2"></i>Pins</button>
                </div>
            </div>
            <div class="row" id="@pinsId">
                <div class="col-12">
                    <partial name="_Pins" model="Model" />
                </div>
            </div>
        </div>
    </div>