﻿@model MultiSelectChecklistViewModel

@for (int i = 0; i < Model.Options.Count; i++)
{
    <div class="checkbox row">
        @if (Model.Options[i].Decoration != null)
        {
            <div class="col-11">
                @if (Model.Ghosts.ContainsKey(Model.Options[i].Id))
                {
                    <input type="checkbox" disabled="disabled" checked="checked" class="mr-1" />
                    @Model.Options[i].LabelText <i class="fal fa-ghost ml-1" data-toggle="tooltip" data-placement="top" title='@Model.Ghosts[Model.Options[i].Id]'></i>
                }
                else
                {
                    <label>
                        <input type="checkbox" asp-for="Options[i].IsSelected" class="postClick mr-1" />
                        @Model.Options[i].LabelText
                    </label>
                }
            </div>
            <div class="col-1">
                @switch (Model.Options[i].Decoration)
                {
                    case "pin":
                        <i class="fal fa-map-pin" data-toggle="tooltip" data-placement="top" title='This option affects the pinout'></i>
                        break;
                    case "acc":
                        <i class="fak fa-banana-plug-l" data-toggle="tooltip" data-placement="top" title='This option adds an accessory'></i>
                        break;
                    default:
                        break;
                }
            </div>
        }
        else
        {
            <div class="col-12">
                @if (Model.Ghosts.ContainsKey(Model.Options[i].Id))
                {
                    <input type="checkbox" disabled="disabled" checked="checked" class="mr-1" />
                    @Model.Options[i].LabelText <i class="fal fa-ghost ml-1" data-toggle="tooltip" data-placement="top" title='@Model.Ghosts[Model.Options[i].Id]'></i>
                }
                else
                {
                    <label>
                        <input type="checkbox" asp-for="Options[i].IsSelected" class="postClick mr-1" />
                        @Model.Options[i].LabelText
                    </label>
                }
            </div>
        }
        <input type="hidden" asp-for="Options[i].Id" />
        <input type="hidden" asp-for="Options[i].LabelText" />
    </div>
}