﻿@model OptionBindingViewModel

<div class="col-7 col-md-8 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="connector-prepend"><i class="fal fa-ellipsis-v-alt"></i></span>
        </div>
        <select asp-for="BoundOptionId" asp-items="Model.Options" class="form-control" aria-describedby="connector-prepend"></select>
    </div>
    <span asp-validation-for="BoundOptionId" class="text-danger"></span>
</div>
<div class="col-3 col-md-3 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="type-prepend"><i class="fal fa-shapes"></i></span>
        </div>
        <select asp-for="BindingType" asp-items="Html.GetEnumSelectList<Quasonix.Catalog.Entities.OptionBindingType>()" class="form-control" aria-describedby="type-prepend"></select>
    </div>
    <span asp-validation-for="BindingType" class="text-danger"></span>
</div>