﻿@model DynamicVML.IDynamicList

<input type="hidden" asp-for="ContainerId" />

<div class="container">
    <div class="row border">
        <div class="col-7 col-md-8 bg-light p-2"><i class="fal fa-ellipsis-v-alt mr-1"></i>Option</div>
        <div class="col-3 col-md-3 bg-light p-2"><i class="fal fa-shapes mr-1"></i>Type</div>
        <div class="col-2 col-md-1 bg-light p-2"></div>
    </div>
    <div id="@Model.ContainerId" name="dynamic-list">
        @{ Html.RenderDynamicListEditor(); }
    </div>
</div>
<button type="button" class="btn btn-outline-success w-100 m-0 mt-2 mb-4" onclick="dvml.add('@Model.ContainerId', '@Html.GetDynamicListActionUrl()');">
    <i class="fas fa-plus mr-1"></i>@Html.RenderDynamicListAddNewItemText()
</button>