﻿@model DynamicVML.IDynamicList

<input type="hidden" asp-for="ContainerId" />

<div class="container">
    <div class="row border">
        <div class="col-4 col-md-4 bg-light p-2"><i class="fal fa-plug mr-1"></i>Connector</div>
        <div class="col-3 col-md-4 bg-light p-2"><i class="fal fa-list-ol mr-1"></i>Rank</div>
        <div class="col-3 col-md-3 bg-light p-2"><i class="fal fa-arrows mr-1"></i>Position</div>
        <div class="col-2 col-md-1 bg-light p-2"></div>
    </div>
    <div id="@Model.ContainerId" name="dynamic-list">
        @{ Html.RenderDynamicListEditor(); }
    </div>
</div>
<button type="button" class="btn btn-outline-success w-100 m-0 mt-2 mb-4" onclick="dvml.add('@Model.ContainerId', '@Html.GetDynamicListActionUrl()');">
    <i class="fas fa-plus mr-1"></i>@Html.RenderDynamicListAddNewItemText()
</button>