﻿@model Quasonix.Catalog.Models.PackageStackViewModel


<div class="col-10 col-md-11 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="stack-prepend"><i class="fal fa-layer-group"></i></span>
        </div>
        <select asp-for="Id" asp-items="Model.StackOptions" class="form-control" aria-describedby="stack-prepend"></select>
    </div>
    <span asp-validation-for="Id" class="text-danger"></span>
</div>