﻿@model Quasonix.Catalog.Models.PriceViewModel

<div class="col-4 col-md-5 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="dollar-prepend"><i class="fal fa-dollar-sign"></i></span>
        </div>
        <input type="text" asp-for="Value" class="form-control" aria-describedby="dollar-prepend" />
    </div>
    <span asp-validation-for="Value" class="text-danger"></span>
</div>
<div class="col-6 col-md-6 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="version-prepend"><i class="fal fa-calendar-alt"></i></span>
        </div>
        <select asp-for="PriceVersionId" asp-items="Model.PriceVersionOptions" class="form-control" aria-describedby="version-prepend"></select>
    </div>
    <span asp-validation-for="PriceVersionId" class="text-danger"></span>
</div>