﻿@model Quasonix.Catalog.Models.RfConnectorForPackageViewModel

<div class="col-4 col-md-4 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="connector-prepend"><i class="fal fa-plug"></i></span>
        </div>
        <select asp-for="RfConnectorId" asp-items="Model.RfConnectorOptions" class="form-control" aria-describedby="connector-prepend"></select>
    </div>
    <span asp-validation-for="RfConnectorId" class="text-danger"></span>
</div>
<div class="col-3 col-md-4 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="rank-prepend"><i class="fal fa-list-ol"></i></span>
        </div>
        <select asp-for="Rank" asp-items="Html.GetEnumSelectList<Quasonix.Catalog.Entities.ConnectorRank>()" class="form-control" aria-describedby="rank-prepend"></select>
    </div>
    <span asp-validation-for="Rank" class="text-danger"></span>
</div>
<div class="col-3 col-md-3 pl-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="position-prepend"><i class="fal fa-arrows"></i></span>
        </div>
        <select asp-for="Position" asp-items="Html.GetEnumSelectList<Quasonix.Catalog.Entities.ConnectorPosition>()" class="form-control" aria-describedby="position-prepend"></select>
    </div>
    <span asp-validation-for="Position" class="text-danger"></span>
</div>