﻿@model SingleSelectGuidChecklistViewModel

@for (int i = 0; i < Model.Options.Count; i++)
{
    if (Model.HasSelection && Model.Options[i].Id != Model.SelectedValue)
    {
        <input type="hidden" asp-for="Options[i].Id" />
        <input type="hidden" asp-for="Options[i].IsSelected" />
        <input type="hidden" asp-for="Options[i].LabelText" />
    }
    else
    {
        <div class="checkbox row">
            <div class="col-12">
                <label>
                    @if (Model.HasGhost)
                    {
                        <input type="checkbox" disabled="disabled" checked="checked" class="mr-1" />
                        @Model.Options[i].LabelText <i class="fal fa-ghost ml-1" data-toggle="tooltip" data-placement="top" title='This option has been "ghost" selected as it is the only remaining choice'></i>
                    }
                    else
                    {
                        <input type="checkbox" asp-for="Options[i].IsSelected" class="postClick mr-1" />
                        @Model.Options[i].LabelText
                    }
                </label>
                <input type="hidden" asp-for="Options[i].Id" />
                <input type="hidden" asp-for="Options[i].LabelText" />
            </div>
        </div>
    }
}