﻿@model DynamicVML.IDynamicListItem

<div class="row border pt-2 pb-2 pl-1">
    @Html.RenderDynamicItemEditor()
    <div class="col-2 col-md-1 pl-0 pr-1">
        <button type="button" class="btn btn-danger w-100" onclick="dvml.remove('@Model.Index')"><i class="fas fa-times"></i></button>
    </div>
</div>