﻿@model DeleteViewModel

@{
    ViewData["Title"] = Model.Name + " - Delete Receiver Pinout";
}

<h1>Delete Receiver Pinout</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    @if (Model.CanDelete)
    {
        <h5>Are you sure you wish to delete this pinout? <span class="text-danger">This action cannot be undone.</span></h5>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="mt-2">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn">Cancel</a>
            </div>
        </form>
    }
    else
    {
        <h5>This pinout cannot be deleted because it is in use. To delete this pinout, first remove all references to <b>@Model.Name</b>.</h5>
    }
</div>
