﻿@model AccessoryViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="PartNumber" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="mfg-name-prepend"><i class="fal fa-conveyor-belt-alt"></i></span>
        </div>
        <input type="text" asp-for="PartNumber" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="PartNumber" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="eng-name-prepend"><i class="fal fa-cogs"></i></span>
        </div>
        <input type="text" asp-for="Description" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Price" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="eng-name-prepend"><i class="fal fa-cogs"></i></span>
        </div>
        <input type="number" asp-for="Price" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Price" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="SignalStandard" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="type-name-prepend"><i class="fal fa-shapes"></i></span>
        </div>
        <select asp-for="SignalStandard" asp-items="Html.GetEnumSelectList<AccessorySignalStandard>()" class="form-control"></select>
    </div>
    <span asp-validation-for="SignalStandard" class="text-danger"></span>
</div>

<label asp-for="CategoryChecklist" class="font-weight-bold"></label>
@Html.EditorFor(x => x.CategoryChecklist)

<label asp-for="FunctionChecklist" class="font-weight-bold"></label>
@Html.EditorFor(x => x.FunctionChecklist)