﻿@model BandCombinationDetailViewModel

@{
    ViewData["Title"] = Model.Name + " - Band Combination Detail";
}

<h1>Band Combination Detail</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumberDescriptor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartNumberDescriptor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LineItemText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LineItemText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bands)
        </dt>
        <dd class="col-sm-10">
            @foreach (var band in Model.Bands)
            {
                <a asp-action="Detail" asp-controller="Band" asp-route-id="@band.Id">@band.Name</a>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
