﻿@model ConnectorSetViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Description" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Description" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<label asp-for="Connectors" class="font-weight-bold"></label>
@Html.ListEditorFor(x => x.Connectors,
    Url.Action("AddConnector"),
    "Add Connector",
    itemContainerTemplate: "TableItemTemplate",
    listContainerTemplate: "ConnectorSetListTemplate")