﻿@model TxStackViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Name" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PackageId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-vector-square"></i></span>
        </div>
        <select asp-for="PackageId" asp-items="Model.PackageOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="PackageId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="RFPowerId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-vector-square"></i></span>
        </div>
        <select asp-for="RFPowerId" asp-items="Model.RfPowerOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="RFPowerId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BandCombinationId" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="footprint-prepend"><i class="fal fa-vector-square"></i></span>
        </div>
        <select asp-for="BandCombinationId" asp-items="Model.BandCombinationOptions" class="form-control" aria-describedby="footprint-prepend"></select>
    </div>
    <span asp-validation-for="BandCombinationId" class="text-danger"></span>
</div>

<label asp-for="Boards" class="font-weight-bold"></label>
@Html.ListEditorFor(x => x.Boards,
    Url.Action("AddBoard"),
    "Add Board",
    itemContainerTemplate: "TableItemTemplate",
    listContainerTemplate: "StackBoardListTemplate")

<label asp-for="Basebands" class="font-weight-bold"></label>
@Html.ListEditorFor(x => x.Basebands,
    Url.Action("AddBaseband"),
    "Add Baseband",
    itemContainerTemplate: "TableItemTemplate",
    listContainerTemplate: "StackBasebandListTemplate")

<label asp-for="SerialControlInterfaces" class="font-weight-bold"></label>
@Html.ListEditorFor(x => x.SerialControlInterfaces,
    Url.Action("AddSerialControlInterface"),
    "Add Serial Control Interface",
    itemContainerTemplate: "TableItemTemplate",
    listContainerTemplate: "StackSerialControlInterfaceListTemplate")