﻿@model ReceiverBandViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Name" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MinimumFrequency" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="minf-prepend"><i class="fal fa-wave-sine"></i></span>
        </div>
        <input type="text" asp-for="MinimumFrequency" class="form-control" aria-describedby="minf-prepend" />
    </div>
    <span asp-validation-for="MinimumFrequency" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MaximumFrequency" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="maxf-prepend"><i class="fal fa-wave-sine"></i></span>
        </div>
        <input type="text" asp-for="MaximumFrequency" class="form-control" aria-describedby="maxf-prepend" />
    </div>
    <span asp-validation-for="MaximumFrequency" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ExtendedMinimumFrequency" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="minfex-prepend"><i class="fal fa-wave-sine"></i></span>
        </div>
        <input type="text" asp-for="ExtendedMinimumFrequency" class="form-control" aria-describedby="minfex-prepend" />
    </div>
    <span asp-validation-for="ExtendedMinimumFrequency" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ExtendedMaximumFrequency" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="maxfex-prepend"><i class="fal fa-wave-sine"></i></span>
        </div>
        <input type="text" asp-for="ExtendedMaximumFrequency" class="form-control" aria-describedby="maxfex-prepend" />
    </div>
    <span asp-validation-for="ExtendedMaximumFrequency" class="text-danger"></span>
</div>

<div class="form-group mt-4">
    <label asp-for="RequiresIFInput" class="form-check-control">
        <input type="checkbox" asp-for="RequiresIFInput" class="mr-2"/> @Html.DisplayNameFor(x => x.RequiresIFInput)
    </label>
    <span asp-validation-for="RequiresIFInput" class="text-danger"></span>
</div>