﻿@model ReceiverBandViewModel
@{
	ViewBag.Title = "Create";
}

<form asp-action="Create">
	@Html.ValidationSummary(true)
	<h2>Band</h2>

	<partial name="_CreateOrEdit.cshtml" />

	<div class="mt-2">
		<input type="submit" value="Create" class="btn btn-success" />
		<a asp-action="Index" class="btn">Cancel</a>
	</div>
</form>