﻿@model BandDetailViewModel

@{
    ViewData["Title"] = Model.Name + " - Band Detail";
}

<h1>Band Detail</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandCombinations)
        </dt>
        <dd class="col-sm-10">
            @foreach (var bandCombo in Model.BandCombinations)
            {
                <a asp-action="Detail" asp-controller="BandCombination" asp-route-id="@bandCombo.Id">@bandCombo.Name</a>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
