﻿@model BasebandViewModel

<partial name="_ErrorSummary" />

<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PartNumberDescriptor"></label>
    <input type="text" asp-for="PartNumberDescriptor" class="form-control" />
    <span asp-validation-for="PartNumberDescriptor" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LineItemText"></label>
    <input type="text" asp-for="LineItemText" class="form-control" />
    <span asp-validation-for="LineItemText" class="text-danger"></span>
</div>