﻿@model EvtmViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="PartNumber" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="mfg-name-prepend"><i class="fal fa-conveyor-belt-alt"></i></span>
        </div>
        <input type="text" asp-for="PartNumber" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="PartNumber" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="eng-name-prepend"><i class="fal fa-cogs"></i></span>
        </div>
        <input type="text" asp-for="Description" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ChannelCount" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="eng-name-prepend"><i class="fal fa-cogs"></i></span>
        </div>
        <input type="number" asp-for="ChannelCount" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="ChannelCount" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FormFactor" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="type-name-prepend"><i class="fal fa-shapes"></i></span>
        </div>
        <select asp-for="FormFactor" asp-items="Html.GetEnumSelectList<EvtmFormFactor>()" class="form-control"></select>
    </div>
    <span asp-validation-for="FormFactor" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ClockData" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="type-name-prepend"><i class="fal fa-shapes"></i></span>
        </div>
        <select asp-for="ClockData" asp-items="Html.GetEnumSelectList<EvtmClockData>()" class="form-control"></select>
    </div>
    <span asp-validation-for="ClockData" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Price" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="eng-name-prepend"><i class="fal fa-cogs"></i></span>
        </div>
        <input type="number" asp-for="Price" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Price" class="text-danger"></span>
</div>

<div class="form-group mt-4">
    <label asp-for="HasET" class="form-check-control">
        <input type="checkbox" asp-for="HasET" class="mr-2" /> @Html.DisplayNameFor(x => x.HasET)
    </label>
    <span asp-validation-for="HasET" class="text-danger"></span>
</div>
