﻿@model PinoutViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

@Html.ListEditorFor(x => x.DataConnectors,
    Url.Action("AddDataConnector"),
    "Add Data Connector",
    itemContainerTemplate: "TableItemTemplate",
    listContainerTemplate: "PinoutConnectorListTemplate")