﻿@model DataConnectorForPinoutViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Pin Number</th>
            <th>Pin</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Pins.Count; i++)
        {
            <tr>
                <td>@Model.Pins[i].PinNumber
                <input class="pin" type="hidden" asp-for="@Model.Pins[i].PinNumber" /></td>
                <td>
                    <select asp-for="Pins[i].PinId" asp-items="Model.PinOptions" class="pin form-control"></select>
                </td>
            </tr>
        }
    </tbody>
</table>