﻿@model PinoutViewModel
@{
    ViewBag.Title = "Create";
}

<form asp-action="Create" id="form">
    @Html.ValidationSummary(true)
    <fieldset>

        <partial name="_CreateOrEdit.cshtml">

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
                </div>
            </div>
    </fieldset>
</form>

@section Scripts {
    <script type="text/javascript" src="~/lib/dynamic-viewmodel-list/dvml.min.js"></script>
    <script type="text/javascript">
        $(document).on('change', '.data-connector', function () {
            var uniquifier = $(this).attr('id').split('_')[1];
            var targetId = $(this).data('pins');
            var target = $(targetId);
            $.get('/ChangeConnector', { connectorId: $(this).val() }, function (data) {
                target.html(data);
                $('.pin').each(function (index) {
                    var name = $(this).attr('name');
                    $(this).attr('name', 'DataConnectors[' + uniquifier + '].ViewModel.' + name);
                })
            })
        })
    </script>
}
