﻿@model PinoutDetailViewModel

@{
    ViewData["Title"] = Model.Name + " - Pinout Detail";
}

<h1>Pinout Detail</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataConnectors)
        </dt>
        <dd class="col-sm-10">
            @foreach (var dataConn in Model.DataConnectors)
            {
                <a asp-action="Detail" asp-controller="DataConnector" asp-route-id="@dataConn.DataConnector.Id">@dataConn.Rank.ToString() - @dataConn.DataConnector.Name</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Pin Number</th>
                            <th>Pin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pin in dataConn.Pins)
                        {
                            <tr>
                                <td>@pin.PinNumber</td>
                                <td>
                                    <a asp-action="Detail" asp-controller="Pin" asp-route-id="@pin.Pin.Id">@pin.Pin.Name</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
