﻿@model PinoutViewModel
@{
	ViewBag.Title = "Edit";
}

<form asp-action="Edit">
	@Html.ValidationSummary(true)
	<h2>Pinout</h2>

	<partial name="_CreateOrEdit.cshtml" />

	<div class="mt-2">
		<input type="submit" value="Save" class="btn btn-success" />
		<a asp-action="Index" class="btn">Cancel</a>
	</div>
</form>

@section Scripts {
	<script type="text/javascript" src="~/lib/dynamic-viewmodel-list/dvml.min.js"></script>
	<script type="text/javascript">
		$(document).on('change', '.data-connector', function () {
			var uniquifier = $(this).attr('id').split('_')[1];
			var targetId = $(this).data('pins');
			var target = $(targetId);
			$.get('/Pinout/ChangeConnector', { connectorId: $(this).val() }, function (data) {
				target.html(data);
				$('.pin').each(function (index) {
					var name = $(this).attr('name');
					$(this).attr('name', 'DataConnectors[' + uniquifier + '].ViewModel.' + name);
				})
			})
		})
	</script>
}
