﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
    .input-group-prepend {
        display: none;
    }
    .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
        border-radius: .25rem;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.container {
    max-width: 1300px !important;
}

.line-break {
    white-space: pre;
}

a.badge-tr {
    position: relative;
}

a.badge-tr span.badge {
    position: absolute;
    top: -5px
}

.form-check-control {
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .5rem 1rem;
    cursor: pointer
}

.form-check-control:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.cart-quantity {
    border: 1px solid #007bff;
    border-radius: .25rem;
    width: max-content;
    float: right;
    height: 2.5rem;
}

.cart-quantity button {
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    height: 100%;
    width: 2.5rem;
}

.cart-quantity button:focus {
    outline: none;
}

.cart-quantity input {
    max-width: 3.5rem;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
    border: 1px solid #007bff;
    border-width: 0 1px;
    font-size: 1rem;
    height: 100%;
    text-align: center;
}

.cart-quantity input::-webkit-outer-spin-button,
.cart-quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group > .input-group-prepend {
    flex: 0 0 4%;
}

.input-group .input-group-text {
    width: 100%;
}

.input-group-prepend i {
    margin: auto
}

.or-separator {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999;
    line-height: 0.1em;
    color: #888 !important;
}

.or-separator span {
    background: #fff;
    padding: 0 10px;
}

.badge-outline {
    border: 1px solid #999;
    background-color: transparent;
}

.badge-outline.badge-success {
    color: #468847;
    border-color: #468847;
}

.disabled {
    cursor: not-allowed !important
}

.checkbox label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    float: left;
    margin-left: 18px;
}

.checkbox label input[type='checkbox'] {
    margin-left: -18px;
}

.text-rtl {
    direction: rtl;
}

.ghost-select {
    font-size:16px;
}

.checkbox-rowhead {
    max-width: 50px;
}

.default-select-option {
    display: none;
}

#processModal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #processModal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

#processModal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}