﻿@model Quote

@if (Model != null)
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-outline-primary badge-tr" asp-action="Cart" asp-controller="Quote" title="View Quote">
                <i class="fas fa-file-invoice-dollar"></i> @Model.Number
                <span class="badge badge-primary">@Model.Lines.Sum(x => x.Quantity)</span>
            </a>
        </li>
    </ul>
}
