﻿@model OptionViewModel
@{
    ViewBag.Title = "Create Option";
}

<form asp-action="Create">
    @Html.ValidationSummary(true)
    <h2>Create Option</h2>

    <partial name="_CreateOrEdit.cshtml" />

    <div class="mt-2">
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="Index" class="btn">Cancel</a>
    </div>
</form>

@section Scripts {
    <script type="text/javascript" src="~/lib/dynamic-viewmodel-list/dvml.min.js"></script>

    <script type="text/javascript">
        $('.checkAll').click(function () {
            var checkClass = $(this).data('check-group');
            $(checkClass).prop('checked', this.checked)
        })
    </script>

}
