﻿@*@model ConfigureViewModel

@{
    ViewData["Title"] = "Configure";

    string ShowSection(bool shouldShow)
    {
        return shouldShow ? "show" : "";
    }
}

<a asp-controller="Configuration" asp-action="Index" class="btn btn-primary"><i class="fa fas fa-redo"></i> Reset Filter</a>

<div class="row">
    <div class="col-md-7">
        <form id="optionForm" asp-action="Index">
            <div class="row">
                <div class="col-md-10">
                    <b><u>Configuration</u></b>
                </div>
                <div class="col-md-2">
                    <b><u>Code</u></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    Quasonix
                </div>
                <div class="col-md-2">
                    QSX
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Transmitter with variable rate, auto-scaling of deviation and filter BW
                </div>
                <div class="col-md-2">
                    V
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#bandCollapse" data-field="#ShowBandSection">
                        Select Band Combination
                    </button>
                    <input type="hidden" asp-for="ShowBandSection" />
                </div>
                <div class="col-md-2">
                    @Model.Product.BandCombination?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="bandCollapse" class="collapse col-md-12 border small @ShowSection(Model.ShowBandSection)">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th><input type="checkbox" name="SelectedBands" value="Lower L" class="postClick" @if (Model.SelectedBands.Contains("Lower L")) { <text> checked </text> } /> Lower L</th>
                                <th><input type="checkbox" name="SelectedBands" value="Upper L" class="postClick" @if (Model.SelectedBands.Contains("Upper L")) { <text> checked </text> } /> Upper L</th>
                                <th><input type="checkbox" name="SelectedBands" value="Lower S" class="postClick" @if (Model.SelectedBands.Contains("Lower S")) { <text> checked </text> } /> Lower S</th>
                                <th><input type="checkbox" name="SelectedBands" value="Upper S" class="postClick" @if (Model.SelectedBands.Contains("Upper S")) { <text> checked </text> } /> Upper S</th>
                                <th><input type="checkbox" name="SelectedBands" value="C Band" class="postClick" @if (Model.SelectedBands.Contains("C Band")) { <text> checked </text> } /> C Band</th>
                                <th><input type="checkbox" name="SelectedBands" value="Mid C" class="postClick" @if (Model.SelectedBands.Contains("Mid C")) { <text> checked </text> } /> Mid C</th>
                                <th><input type="checkbox" name="SelectedBands" value="Euro Mid C" class="postClick" @if (Model.SelectedBands.Contains("Euro Mid C")) { <text> checked </text> } /> Euro Mid C</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var combo in Model.BandCombos)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox"
                                                   name="SelectedOptions"
                                                   value="@combo.Id"
                                                   class="postClick"
                                                   @if (Model.SelectedOptions.Contains(Convert.ToInt32(combo.Id))) { <text> checked </text> } /> @combo.Name
                                            </label>
                                        </td>
                                        <td>
                                            @if (combo.HasLowerL)
                                            {
                                                @:<i class="fas fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (combo.HasUpperL)
                                            {
                                                @:<i class="fas fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (combo.HasLowerS)
                                            {
                                                @:<i class="fas fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (combo.HasUpperS)
                                            {
                                                @:<i class="fas fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (combo.HasC)
                                            {
                                                @:<i class="fas fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (combo.HasMidC)
                                            {
                                                @:<i class="fas fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (combo.HasEuroMidC)
                                            {
                                                @:<i class="fas fa-check"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#signalInterfaceCollapse" data-field="#ShowClockInterfaceSection">
                        Select Signal Interface
                    </button>
                    <input type="hidden" asp-for="ShowClockInterfaceSection" />
                </div>
                <div class="col-md-2">
                    @Model.Product.Baseband?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="signalInterfaceCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowClockInterfaceSection)">
                    @foreach (var item in Model.ClockInterfaceOptions)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedOptions"
                                       value="@item.Value"
                                       class="postClick"
                                       @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#serialCollapse" data-field="#ShowSerialControlSection">
                        Select serial control
                    </button>
                    <input type="hidden" asp-for="ShowSerialControlSection" />
                </div>
                <div class="col-md-2">
                    @Model.Product.SerialControlInterface?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="serialCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowSerialControlSection)">
                    @foreach (var item in Model.SerialControlOptions)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedOptions"
                                       value="@item.Value"
                                       class="postClick"
                                       @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#modulationCollapse" data-field="#ShowModulationSection">
                        Select Modulation(s)
                    </button>
                    <input type="hidden" asp-for="ShowModulationSection" />
                </div>
                <div class="col-md-2">
                    @Model.PartNumber.ModulationPart
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="modulationCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowModulationSection)">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" asp-for="HasArtm0" class="postClick" /> ARTM Tier 0 (PCM/FM), 0.05 - 14 Mbps
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" asp-for="HasArtm1" class="postClick" /> ARTM Tier I (SOQPSK-TG), 0.1 - 28 Mbps
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" asp-for="HasArtm2" class="postClick" /> ARTM Tier II (Multi-h CPM), 0.1 - 28 Mbps
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" asp-for="HasBPSK" class="postClick" /> BPSK, QPSK, OQPSK 0.05 - 14 Mbps
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#rfpowerCollapse" data-field="#ShowRfPowerSection">
                        Select RF output power
                    </button>
                    <input type="hidden" asp-for="ShowRfPowerSection" />
                </div>
                <div class="col-md-2">
                    @Model.Product.RFPower?.PartNumberDescriptor
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="rfpowerCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowRfPowerSection)">
                    @foreach (var item in Model.RfPowerOptions)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedOptions"
                                       value="@item.Value"
                                       class="postClick"
                                       @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Pinout (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.Product.Pinout?.Name
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    Package (determined automatically)
                </div>
                <div class="col-md-2">
                    @Model.Product.Package?.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#footprintCollapse" data-field="#ShowFootprintSection">
                        Select footprint
                    </button>
                    <input type="hidden" asp-for="ShowFootprintSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="footprintCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowFootprintSection)">
                    @foreach (var item in Model.FootprintOptions)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedFootprint"
                                       value="@item.Value"
                                       class="postClick"
                                       @if (Model.SelectedFootprint == Convert.ToInt32(item.Value)) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#heightCollapse" data-field="#ShowHeightSection">
                        Select maximum height
                    </button>
                    <input type="hidden" asp-for="ShowHeightSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="heightCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowHeightSection)">
                    @foreach (var item in Model.HeightOptions)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedHeight"
                                       value="@item.Value"
                                       class="postClick"
                                       @if (Model.SelectedHeight == Convert.ToInt32(item.Value)) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#clockConnectorCollapse" data-field="#ShowClockConnectorSection">
                        Select primary (clock/data/control) connector postion
                    </button>
                    <input type="hidden" asp-for="ShowClockConnectorSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="clockConnectorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowClockConnectorSection)">
                    @foreach (var item in Model.DataConnectorPositionOptions)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedDataConnectorPosition"
                                       value="@item.Value"
                                       class="postClick"
                                       @if (Model.SelectedDataConnectorPosition == Convert.ToInt32(item.Value)) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#rfConnectorCollapse" data-field="#ShowRfConnectorSection">
                        Select RF connector position
                    </button>
                    <input type="hidden" asp-for="ShowRfConnectorSection" />
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="rfConnectorCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowRfConnectorSection)">
                    @foreach (var item in Model.RfConnectorPositionOptions)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedRfConnectorPosition"
                                       value="@item.Value"
                                       class="postClick"
                                       @if (Model.SelectedRfConnectorPosition == Convert.ToInt32(item.Value)) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#optionCollapse" data-field="#ShowHardwareSpecificSection">
                        Select option(s)
                    </button>
                    <input type="hidden" asp-for="ShowHardwareSpecificSection" />
                </div>
                <div class="col-md-2">
                    @foreach (var optionPart in Model.PartNumber.OptionParts)
                    {
                        @optionPart
                    }
                </div>
            </div>
            <div class="row pl-4 pr-4">
                <div id="optionCollapse" class="collapse col-md-12 border @ShowSection(Model.ShowHardwareSpecificSection)">
                    @foreach (var item in Model.HardwareSpecificOptions)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedOptions"
                                       value="@item.Value"
                                       class="postClick"
                                       @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <h5>
            <b>Part Number:</b> @Model.Product.PartNumber
        </h5>
        @foreach (var item in Model.Product.LineItems)
        {
            <div class="row">
                <div class="col-md-2">
                    @item.PartNumberDescriptor
                </div>
                <div class="col-md-10 line-break">@item.LineItemText</div>
            </div>
        }
        @if (Model.Product.Pinout != null)
        {
            <br />
            @foreach (var conn in Model.Product.Pinout.DataConnectors)
            {
                <h6 class="font-weight-bold">@conn.Rank.ToString() Connector (@conn.DataConnector.Name) Pins:</h6>
                @foreach (var pin in conn.Pins)
                {
                    <div class="row">
                        <div class="col-md-2">@pin.PinNumber</div>
                        <div class="col-md-10">@pin.Pin.Name</div>
                    </div>
                }
                <br />
            }
        }
        @if (Model.Product.IsComplete)
        {
            <form asp-action="AddToQuote" asp-controller="Quote">
                <input type="hidden" asp-for="Product.PartNumber" />
                <input type="hidden" asp-for="HasArtm0" />
                <input type="hidden" asp-for="HasArtm1" />
                <input type="hidden" asp-for="HasArtm2" />
                <input type="hidden" asp-for="HasBPSK" />
                <input type="hidden" name="partNumber" value="@Model.Product.PartNumber" />
                <input type="hidden" name="partNumber" value="@Model.Product.PartNumber" />
                <input type="hidden" name="partNumber" value="@Model.Product.PartNumber" />
                <button type="submit" class="btn btn-success w-100">Add Product to Current Quote</button>
            </form>
        }
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(".postClick").click(function () {
            $('form#optionForm').submit();
        })

        $(".collapsed").click(function () {
            var dataField = $(this).data('field');
            var value = $(dataField).val();
            if (value == "True")
                $(dataField).val("False")
            if (value == "False")
                $(dataField).val("True")
        })
    </script>

}*@