﻿@model AntPedestalViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Name" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PartNumberDescriptor" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="desc-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="PartNumberDescriptor" class="form-control" aria-describedby="desc-prepend" />
    </div>
    <span asp-validation-for="PartNumberDescriptor" class="text-danger"></span>
</div>

<label asp-for="ReflectorAssemblyChecklist" class="font-weight-bold"></label>
@Html.EditorFor(x => x.ReflectorAssemblyChecklist)
<label asp-for="WiringChecklist" class="font-weight-bold"></label>
@Html.EditorFor(x => x.WiringChecklist)
<label asp-for="OptionChecklist" class="font-weight-bold"></label>
@Html.EditorFor(x => x.OptionChecklist)