﻿
@if (ViewData.ModelState.Keys.Any(x => ViewData.ModelState[x].Errors.Any()))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.ValidationSummary(false, "Errors: ")
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
    </div>
}