﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eCat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eCat</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("QuoteCart")
                    }
                    <partial name="_LoginPartial" />
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Transmitters
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Band" asp-action="Index">Bands</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="BandCombination" asp-action="Index">Band Combinations</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxBaseband" asp-action="Index">Basebands</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxBoard" asp-action="Index">Boards</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxDataConnector" asp-action="Index">Data Connectors</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxFootprint" asp-action="Index">Footprints</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxHeight" asp-action="Index">Heights</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxOption" asp-action="Index">Options</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxPackage" asp-action="Index">Packages</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxPinout" asp-action="Index">Pinouts</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxPin" asp-action="Index">Pins</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RfConnector" asp-action="Index">RF Connectors</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxRadioFrequencyPower" asp-action="Index">RF Powers</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxSerialControlInterface" asp-action="Index">Serial Control Interfaces</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TxStack" asp-action="Index">Stacks</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Receivers
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="RxOption" asp-action="Index">Options</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RxConfiguration" asp-action="Index">Packages</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ReceiverBand" asp-action="Index">Bands</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ReceiverBandCombination" asp-action="Index">Band Combinations</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RxBasebandSet" asp-action="Index">Baseband Sets</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RxPinout" asp-action="Index">Pinouts</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="FrontPanelDisplay" asp-action="Index">Front Panel Displays</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="FrontPanelInterface" asp-action="Index">Front Panel Interfaces</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="FormFactor" asp-action="Index">Form Factors</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ConnectorSet" asp-action="Index">Connector Sets</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ChannelSet" asp-action="Index">Channel Sets</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Antennas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="AntOption" asp-action="Index">Options</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AntBand" asp-action="Index">Bands</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AntBandCombination" asp-action="Index">Band Combinations</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AntWiring" asp-action="Index">Wiring</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AntFeed" asp-action="Index">Feeds</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AntReflectorAssembly" asp-action="Index">Reflector Assemblies</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AntPedestal" asp-action="Index">Pedestals</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AntFocusArrangement" asp-action="Index">Focus Arrangements</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    EVTM
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Evtm" asp-action="Index">Products</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Accessories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Accessory" asp-action="Index">Products</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pricing
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="PriceVersion" asp-action="Index">Price Versions</a>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-info" role="alert">
                    @Html.Raw(TempData["Message"].ToString())
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @{
                var version = System.Reflection.Assembly.Load("Quasonix.Catalog").GetName().Version;
                DateTime buildDate = new DateTime(2000, 1, 1).AddDays(version.Build);
                string displayableVersion = $"Version {version.ToString(3)}";
            }
            <div class="float-right">
                <a asp-action="Index" asp-controller="Release" class="icon_link" title="Release Notes">
                    <span class="fas fa-code-branch"></span>
                </a>
                @Html.ActionLink(displayableVersion, "Notes", "Release", new { version = version.ToString(3).Replace('.', '_') }, null)
            </div>
            &copy; @DateTime.Now.Year - Quasonix
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/ce9b9c1395.js" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
