﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        <li class="nav-item">
            <a class="btn btn-link text-dark" asp-action="Profile" asp-controller="Manage" title="Manage Account"><i class="fas fa-user mr-2"></i>@user.DisplayName</a>
        </li>
    }
    else
    {
        if (User.IsInRole("administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">Register</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Login</a>
        </li>
    }
</ul>
