﻿@model ConfigurationOptionViewModel

@{ 
    string bandComboVisibleClass = Model.ShowBandCombinations ? "" : "d-none";
    string basebandVisibleClass = Model.ShowBasebands ? "" : "d-none";
    string serialVisibleClass = Model.ShowSerials ? "" : "d-none";
    string rfVisibleClass = Model.ShowRfPowers ? "" : "d-none";
}

<div class="accordion" id="optionAccordian">
    <div class="card">
        <div class="card-header" id="pinHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pinCollapse" aria-expanded="false" aria-controls="collapseThree">
                    Pins
                </button>
            </h2>
        </div>
        <div id="pinCollapse" class="collapse" aria-labelledby="pinHeading" data-parent="#optionAccordian">
            <div class="card-body">
                <hr />
                @foreach (var item in Model.PinOptions)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedPins"
                                   value="@item.Value"
                                   @if (Model.SelectedPins.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
        </div>
    </div>
    <div class="card @bandComboVisibleClass">
        <div class="card-header" id="bandComboHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#bandComboCollapse" aria-expanded="false" aria-controls="collapseThree">
                    Band Combinations
                </button>
            </h2>
        </div>
        <div id="bandComboCollapse" class="collapse" aria-labelledby="bandComboHeading" data-parent="#optionAccordian">
            <div class="card-body">
                <label><input type="checkbox" class="checkAll" data-check-group=".bandComboCheck" /> Select All</label>
                <hr />
                @foreach (var item in Model.BandCombinationOptions)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedOptions"
                                   value="@item.Value"
                                   class="bandComboCheck"
                                   @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
        </div>
    </div>
    <div class="card @rfVisibleClass">
        <div class="card-header" id="rfPowerHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#rfPowerCollapse" aria-expanded="false" aria-controls="collapseThree">
                    Max RF Power Out
                </button>
            </h2>
        </div>
        <div id="rfPowerCollapse" class="collapse" aria-labelledby="rfPowerHeading" data-parent="#optionAccordian">
            <div class="card-body">
                <label><input type="checkbox" class="checkAll" data-check-group=".rfpowerCheck" /> Select All</label>
                <hr />
                @foreach (var item in Model.RfPowerOptions)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedOptions"
                                   value="@item.Value"
                                   class="rfpowerCheck"
                                   @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
        </div>
    </div>
    <div class="card @basebandVisibleClass">
        <div class="card-header" id="basebandHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#basebandCollapse" aria-expanded="false" aria-controls="collapseThree">
                    Baseband
                </button>
            </h2>
        </div>
        <div id="basebandCollapse" class="collapse" aria-labelledby="basebandHeading" data-parent="#optionAccordian">
            <div class="card-body">
                <label><input type="checkbox" class="checkAll" data-check-group=".basebandCheck" /> Select All</label>
                <hr />
                @foreach (var item in Model.BasebandOptions)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedOptions"
                                   value="@item.Value"
                                   class="basebandCheck"
                                   @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
        </div>
    </div>
    <div class="card @serialVisibleClass">
        <div class="card-header" id="serialHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#serialCollapse" aria-expanded="false" aria-controls="collapseThree">
                    Serial Control Interface
                </button>
            </h2>
        </div>
        <div id="serialCollapse" class="collapse" aria-labelledby="serialHeading" data-parent="#optionAccordian">
            <div class="card-body">
                <label><input type="checkbox" class="checkAll" data-check-group=".hardwareCheck" /> Select All</label>
                <hr />
                @foreach (var item in Model.SerialControlOptions)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedOptions"
                                   value="@item.Value"
                                   class="hardwareCheck"
                                   @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="otherHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#otherCollapse" aria-expanded="false" aria-controls="collapseThree">
                    Other
                </button>
            </h2>
        </div>
        <div id="otherCollapse" class="collapse" aria-labelledby="otherHeading" data-parent="#optionAccordian">
            <div class="card-body">
                <label><input type="checkbox" class="checkAll" data-check-group=".otherCheck" /> Select All</label>
                <hr />
                @foreach (var item in Model.OtherOptions)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedOptions"
                                   value="@item.Value"
                                   class="otherCheck"
                                   @if (Model.SelectedOptions.Contains(Convert.ToInt32(item.Value))) { <text> checked </text> } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>