﻿@model FormFactorViewModel

<partial name="_ErrorSummary" />

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Name" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="desc-prepend"><i class="fal fa-signature"></i></span>
        </div>
        <input type="text" asp-for="Description" class="form-control" aria-describedby="desc-prepend" />
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Style" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-shapes"></i></span>
        </div>
        <select id="shapeSelect" asp-for="Style" asp-items="Html.GetEnumSelectList<ReceiverStyle>()" class="form-control"></select>
    </div>
    <span asp-validation-for="Style" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Width" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-arrows-h"></i></span>
        </div>
        <input type="text" asp-for="Width" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Width" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Height" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-arrows-v"></i></span>
        </div>
        <input type="text" asp-for="Height" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Height" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Depth" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-arrows-h"></i></span>
        </div>
        <input type="text" asp-for="Depth" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="Depth" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DimensionDescription" class="font-weight-bold"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name-prepend"><i class="fal fa-text-height"></i></span>
        </div>
        <input type="text" asp-for="DimensionDescription" class="form-control" aria-describedby="name-prepend" />
    </div>
    <span asp-validation-for="DimensionDescription" class="text-danger"></span>
</div>

<label asp-for="OptionChecklist" class="font-weight-bold"></label>
@Html.EditorFor(x => x.OptionChecklist)

<label asp-for="PinoutChecklist" class="font-weight-bold"></label>
@Html.EditorFor(x => x.PinoutChecklist)