﻿@model IEnumerable<RxFormFactor>

@{
    ViewData["Title"] = "Form Factors";
}

<a class="btn btn-success float-right" asp-action="Create"><span class="fas fa-plus"></span></a>

<h1>Form Factors</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-group float-right">
                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Detail</a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>